In [77]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import tensorflow_datasets as tfds

In [103]:
df = tf.data.TFRecordDataset("/Users/amith/Documents/GitHub/kaggle/Petals to the Metal - Flower Classification on TPU/tpu-getting-started/tfrecords-jpeg-192x192/train/00-192x192-798.tfrec")

In [107]:
p = []
dat = pd.DataFrame()
maxi = 0
for i in df.as_numpy_iterator():
    for j in i:
        q.append
    maxi = max(maxi,len(i))

In [109]:
maxi

50789

,0,1,2,3,4,5,6,7,8,9,...,50779,50780,50781,50782,50783,50784,50785,50786,50787,50788
0,10,144,163,1,10,19,10,2,105,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10,249,200,1,10,19,10,2,105,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,201,167,1,10,160,167,1,10,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,153,157,2,10,19,10,2,105,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10,219,163,1,10,19,10,2,105,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,10,175,206,1,10,19,10,2,105,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
794,10,221,140,1,10,19,10,2,105,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
795,10,237,242,1,10,196,242,1,10,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796,10,184,132,1,10,19,10,2,105,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
797,10,239,199,1,10,19,10,2,105,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN