In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import *
from sklearn.preprocessing import *
from sklearn.linear_model import *
from sklearn.metrics import *
import warnings
warnings.filterwarnings("ignore")
from nltk.sentiment import SentimentIntensityAnalyzer
import nltk

In [3]:
df = pd.read_csv("British_Airways_Review.csv")

In [4]:
df_1 = df.copy()
df_1["reviews"] = df_1["reviews"].str.lower()

In [5]:
df_1["reviews"]

0       ✅ trip verified |  i had the most fantastic ba...
1       ✅ trip verified |  couldn’t book in online. ar...
2       ✅ trip verified | london heathrow to mumbai in...
3       ✅ trip verified | keflavík, iceland to london ...
4       ✅ trip verified | terrible experience with bri...
                              ...
2495    roundtrip with british airways from bangkok to...
2496    awful customer service. my wife and i have flo...
2497    i travelled from london to sydney via singapor...
2498    british airways have just moved cape town flig...
2499    bengaluru to heathrow. my first long haul flig...
Name: reviews, Length: 2500, dtype: object

In [6]:
verified = []
not_verified = []
not_verified_with_line = []
not_verified_without_line = []
uncertain = []

In [7]:
for i in list(df_1.index):
    if "verified" in df_1.loc[i,"reviews"]:
        uncertain.append(i)
    else:
        not_verified_without_line.append(i)
        not_verified.append(i)

In [8]:
df_2 = df_1.loc[uncertain,:]
df_2

,reviews,date,country,seat_type,recommended,stars,route,type_of_traveller
0,✅ trip verified | i had the most fantastic ba...,1st August 2023,Hong Kong,Business Class,yes,5,Heathrow to Las Vegas,Family Leisure
1,✅ trip verified | couldn’t book in online. ar...,31st July 2023,United Kingdom,Economy Class,no,3,Rome to Heathrow,Solo Leisure
2,✅ trip verified | london heathrow to mumbai in...,31st July 2023,Iceland,Business Class,yes,3,Gatwick to Venice,Solo Leisure
3,"✅ trip verified | keflavík, iceland to london ...",31st July 2023,Iceland,Business Class,yes,5,London to Luanda,Couple Leisure
4,✅ trip verified | terrible experience with bri...,29th July 2023,Canada,Economy Class,no,5,Denver to Heathrow,Family Leisure
...,...,...,...,...,...,...,...,...
2260,✅ verified review | istanbul to london heathr...,26th March 2016,United Kingdom,Business Class,no,3,Heathrow to Las Vegas,Family Leisure
2261,✅ verified review | london heathrow to housto...,25th March 2016,Switzerland,Economy Class,yes,3,Rome to Heathrow,Solo Leisure
2262,✅ verified review | we have flown with britis...,24th March 2016,United Kingdom,First Class,no,1,Gatwick to Venice,Solo Leisure
2263,✅ verified review | british airways from seat...,23rd March 2016,South Africa,Economy Class,yes,9,London to Luanda,Couple Leisure
2265,✅ verified review | gatwick to amsterdam in b...,23rd March 2016,Malaysia,Business Class,no,3,BKK to LHR,Business

In [9]:
for i in list(df_2.index):
    if "not verified" in df_2.loc[i,"reviews"]:
        not_verified_with_line.append(i)
        not_verified.append(i)
    elif "unverified" in df_2.loc[i,"reviews"]:
        not_verified_with_line.append(i)
        not_verified.append(i)
    else:
        verified.append(i)
not_verified.sort()

In [10]:
df_3 = df_1.loc[verified,:]
df_4 = df_1.loc[not_verified_with_line,:]
df_5 = df_1.loc[not_verified_without_line,:]

In [11]:
df_verified = df_3.copy()
df_not_verified_with_line = df_4.copy()
df_not_verified_without_line = df_5.copy()

In [12]:
for i in list(df_verified.index):
    stri = df_verified.loc[i,"reviews"]
    pos = stri.index("|")
    df_verified.loc[i,"reviews"] = stri[pos+1:].strip()
df_verified["Verified"] = "Yes"

In [13]:
for i in list(df_not_verified_with_line.index):
    stri = df_not_verified_with_line.loc[i,"reviews"]
    pos = stri.index("|")
    df_not_verified_with_line.loc[i,"reviews"] = stri[pos+1:].strip()
df_not_verified_with_line["Verified"] = "No"
df_not_verified_without_line["Verified"] = "No"

In [14]:
df_not_verified_with_line

,reviews,date,country,seat_type,recommended,stars,route,type_of_traveller,Verified
8,i booked premium economy from inv to lax (via ...,24th July 2023,United Kingdom,Premium Economy,no,9,LHR to CPT,Couple Leisure,No
11,fast and friendly check in (total contrast to ...,20th July 2023,United Kingdom,Business Class,no,5,Rome to Heathrow,Solo Leisure,No
13,i'm sure that ba have gradually made their eco...,20th July 2023,United Kingdom,Economy Class,no,3,London to Luanda,Couple Leisure,No
16,our a380 developed a fault taxiing to the runw...,17th July 2023,United Kingdom,Business Class,no,3,London to Tampa,Couple Leisure,No
17,horrible airline. does not care about their cu...,16th July 2023,United Kingdom,Economy Class,no,3,London to Sydney,Couple Leisure,No
...,...,...,...,...,...,...,...,...,...
1756,"gatwick to salzburg return in business class, ...",6th February 2017,United Kingdom,Business Class,yes,1,London to Tampa,Couple Leisure,No
1757,"gatwick to barbados, outbound on 19th january ...",6th February 2017,United Kingdom,Economy Class,no,9,London to Sydney,Couple Leisure,No
1758,bordeaux to london gatwick. as a former execut...,6th February 2017,France,Economy Class,yes,7,LHR to CPT,Couple Leisure,No
1759,london heathrow to san francisco return. upgra...,4th February 2017,United Kingdom,Business Class,yes,3,BLR to LHR,Business,No
1776,london heathrow to philadelphia return. very g...,27th January 2017,United Kingdom,First Class,yes,3,London to Tampa,Couple Leisure,No

In [15]:
df_not_verified = pd.concat([df_not_verified_with_line, df_not_verified_without_line],axis=0)

In [16]:
final_df = pd.concat([df_verified, df_not_verified],axis=0)

In [17]:
final_df

,reviews,date,country,seat_type,recommended,stars,route,type_of_traveller,Verified
0,i had the most fantastic ba flight today. the ...,1st August 2023,Hong Kong,Business Class,yes,5,Heathrow to Las Vegas,Family Leisure,Yes
1,couldn’t book in online. arrived at check in t...,31st July 2023,United Kingdom,Economy Class,no,3,Rome to Heathrow,Solo Leisure,Yes
2,london heathrow to mumbai in a boeing 787-8 in...,31st July 2023,Iceland,Business Class,yes,3,Gatwick to Venice,Solo Leisure,Yes
3,"keflavík, iceland to london heathrow on an a32...",31st July 2023,Iceland,Business Class,yes,5,London to Luanda,Couple Leisure,Yes
4,terrible experience with british airways. i bo...,29th July 2023,Canada,Economy Class,no,5,Denver to Heathrow,Family Leisure,Yes
...,...,...,...,...,...,...,...,...,...
2495,roundtrip with british airways from bangkok to...,12th November 2015,Thailand,Business Class,no,7,BKK to LHR,Business,No
2496,awful customer service. my wife and i have flo...,11th November 2015,United Kingdom,Business Class,no,3,London to Tampa,Couple Leisure,No
2497,i travelled from london to sydney via singapor...,10th November 2015,Australia,First Class,yes,5,London to Sydney,Couple Leisure,No
2498,british airways have just moved cape town flig...,10th November 2015,United Kingdom,First Class,yes,3,LHR to CPT,Couple Leisure,No
2499,bengaluru to heathrow. my first long haul flig...,10th November 2015,India,Economy Class,no,3,BLR to LHR,Business,No

In [18]:
sia = SentimentIntensityAnalyzer()
final_df["Contonation"] = np.nan

In [19]:
for i in list(final_df.index):
    polar = sia.polarity_scores(final_df.loc[i,"reviews"])
    score = round(polar["compound"])
    if score == 1:
        final_df.loc[i,"Contonation"] = "Positive"
    elif score == 0:
        final_df.loc[i,"Contonation"] = "Neutral"
    else:
        final_df.loc[i,"Contonation"] = "Negative"

In [20]:
final_df

,reviews,date,country,seat_type,recommended,stars,route,type_of_traveller,Verified,Contonation
0,i had the most fantastic ba flight today. the ...,1st August 2023,Hong Kong,Business Class,yes,5,Heathrow to Las Vegas,Family Leisure,Yes,Positive
1,couldn’t book in online. arrived at check in t...,31st July 2023,United Kingdom,Economy Class,no,3,Rome to Heathrow,Solo Leisure,Yes,Positive
2,london heathrow to mumbai in a boeing 787-8 in...,31st July 2023,Iceland,Business Class,yes,3,Gatwick to Venice,Solo Leisure,Yes,Positive
3,"keflavík, iceland to london heathrow on an a32...",31st July 2023,Iceland,Business Class,yes,5,London to Luanda,Couple Leisure,Yes,Neutral
4,terrible experience with british airways. i bo...,29th July 2023,Canada,Economy Class,no,5,Denver to Heathrow,Family Leisure,Yes,Neutral
...,...,...,...,...,...,...,...,...,...,...
2495,roundtrip with british airways from bangkok to...,12th November 2015,Thailand,Business Class,no,7,BKK to LHR,Business,No,Positive
2496,awful customer service. my wife and i have flo...,11th November 2015,United Kingdom,Business Class,no,3,London to Tampa,Couple Leisure,No,Negative
2497,i travelled from london to sydney via singapor...,10th November 2015,Australia,First Class,yes,5,London to Sydney,Couple Leisure,No,Neutral
2498,british airways have just moved cape town flig...,10th November 2015,United Kingdom,First Class,yes,3,LHR to CPT,Couple Leisure,No,Negative
2499,bengaluru to heathrow. my first long haul flig...,10th November 2015,India,Economy Class,no,3,BLR to LHR,Business,No,Negative

In [21]:
final_df.to_csv("data.csv",index=False)