In [306]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import *

In [319]:
df_train = pd.read_csv("Train-1542865627584.csv")
df_test = pd.read_csv("Test-1542969243754.csv")

df_train_beneficiary = pd.read_csv("Train_Beneficiarydata-1542865627584.csv")
df_test_beneficiary = pd.read_csv("Test_Beneficiarydata-1542969243754.csv")

df_train_inpatient = pd.read_csv("Train_Inpatientdata-1542865627584.csv")
df_test_inpatient = pd.read_csv("Test_Inpatientdata-1542969243754.csv")

df_train_outpatient = pd.read_csv("Train_Outpatientdata-1542865627584.csv")
df_test_outpatient = pd.read_csv("Test_Outpatientdata-1542969243754.csv")

ben_train = df_train_beneficiary.copy()
ben_train["DOD"] = ben_train["DOD"].fillna("N/A")
ben_test = df_test_beneficiary.copy()
ben_test["DOD"] = ben_test["DOD"].fillna("N/A")

In [320]:
df_train_beneficiary["DOB"] = pd.to_datetime(df_train_beneficiary["DOB"])

df_train_beneficiary["DOD"] = pd.to_datetime(df_train_beneficiary["DOD"])

df_train_beneficiary["DOD"] = df_train_beneficiary["DOD"].fillna(pd.Timestamp(date.today().year,date.today().month,date.today().day,0,0,0,0))
df_train_beneficiary

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,2023-12-02,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,2023-12-02,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,2023-12-02,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,2023-12-02,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,2023-12-02,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138551,BENE159194,1939-07-01,2023-12-02,1,1,0,39,140,12,12,...,2,2,2,2,2,2,0,0,430,460
138552,BENE159195,1938-12-01,2023-12-02,2,1,0,49,530,12,12,...,2,1,2,2,2,2,0,0,880,100
138553,BENE159196,1916-06-01,2023-12-02,2,1,0,6,150,12,12,...,1,1,1,2,2,2,2000,1068,3240,1390
138554,BENE159197,1930-01-01,2023-12-02,1,1,0,16,560,12,12,...,2,2,1,2,2,2,0,0,2650,10
138555,BENE159198,1952-04-01,2023-12-02,2,1,0,21,20,12,12,...,1,1,2,2,1,2,0,0,5470,1870

In [321]:
def calculate_age(df):
    p = round((df["DOD"] - df["DOB"]).days/365,2)
    return p

In [322]:
df_train_beneficiary["Age"] = df_train_beneficiary.apply(lambda x: calculate_age(x),axis=1)

In [323]:
def alive_or_dead(df):
    if df["DOD"] == "N/A":
        return 1
    else:
        return 0

In [324]:
ben_train["Alive"] = ben_train.apply(lambda x: alive_or_dead(x),axis=1)
df_train_beneficiary["Alive"] = ben_train["Alive"].copy()
df_train_beneficiary.drop(["DOB","DOD","State","County"],axis=1,inplace=True)
df_train_beneficiary

,BeneID,Gender,Race,RenalDiseaseIndicator,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,...,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age,Alive
0,BENE11001,1,1,0,12,12,1,2,1,2,...,1,2,1,1,36000,3204,60,70,80.97,1
1,BENE11002,2,1,0,12,12,2,2,2,2,...,2,2,2,2,0,0,30,50,87.31,1
2,BENE11003,1,1,0,12,12,1,2,2,2,...,1,2,2,2,0,0,90,40,87.39,1
3,BENE11004,1,1,0,12,12,1,1,2,2,...,1,1,1,2,0,0,1810,760,101.49,1
4,BENE11005,1,1,0,12,12,2,2,2,2,...,2,2,2,2,0,0,1790,1200,88.31,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138551,BENE159194,1,1,0,12,12,1,2,2,2,...,2,2,2,2,0,0,430,460,84.48,1
138552,BENE159195,2,1,0,12,12,1,2,2,2,...,2,2,2,2,0,0,880,100,85.06,1
138553,BENE159196,2,1,0,12,12,2,1,1,1,...,1,2,2,2,2000,1068,3240,1390,107.58,1
138554,BENE159197,1,1,0,12,12,1,1,2,2,...,1,2,2,2,0,0,2650,10,93.98,1
138555,BENE159198,2,1,0,12,12,1,1,2,2,...,2,2,1,2,0,0,5470,1870,71.72,1

In [325]:
df_train_beneficiary.dtypes

BeneID                              object
Gender                               int64
Race                                 int64
RenalDiseaseIndicator               object
NoOfMonths_PartACov                  int64
NoOfMonths_PartBCov                  int64
ChronicCond_Alzheimer                int64
ChronicCond_Heartfailure             int64
ChronicCond_KidneyDisease            int64
ChronicCond_Cancer                   int64
ChronicCond_ObstrPulmonary           int64
ChronicCond_Depression               int64
ChronicCond_Diabetes                 int64
ChronicCond_IschemicHeart            int64
ChronicCond_Osteoporasis             int64
ChronicCond_rheumatoidarthritis      int64
ChronicCond_stroke                   int64
IPAnnualReimbursementAmt             int64
IPAnnualDeductibleAmt                int64
OPAnnualReimbursementAmt             int64
OPAnnualDeductibleAmt                int64
Age                                float64
Alive                                int64
dtype: object

In [326]:
df_train_beneficiary["Gender"] = df_train_beneficiary["Gender"].map({1:1,2:0})
df_train_beneficiary["Race"] = df_train_beneficiary["Race"].map({1:0,2:1,3:2,5:3})

df_train_beneficiary["ChronicCond_Alzheimer"] = df_train_beneficiary["ChronicCond_Alzheimer"].map({1:1,2:0})
df_train_beneficiary["ChronicCond_Heartfailure"] = df_train_beneficiary["ChronicCond_Heartfailure"].map({1:1,2:0})
df_train_beneficiary["ChronicCond_KidneyDisease"] = df_train_beneficiary["ChronicCond_KidneyDisease"].map({1:1,2:0})
df_train_beneficiary["ChronicCond_Cancer"] = df_train_beneficiary["ChronicCond_Cancer"].map({1:1,2:0})
df_train_beneficiary["ChronicCond_ObstrPulmonary"] = df_train_beneficiary["ChronicCond_ObstrPulmonary"].map({1:1,2:0})
df_train_beneficiary["ChronicCond_Depression"] = df_train_beneficiary["ChronicCond_Depression"].map({1:1,2:0})
df_train_beneficiary["ChronicCond_Diabetes"] = df_train_beneficiary["ChronicCond_Diabetes"].map({1:1,2:0})
df_train_beneficiary["ChronicCond_IschemicHeart"] = df_train_beneficiary["ChronicCond_IschemicHeart"].map({1:1,2:0})
df_train_beneficiary["ChronicCond_Osteoporasis"] = df_train_beneficiary["ChronicCond_Osteoporasis"].map({1:1,2:0})
df_train_beneficiary["ChronicCond_rheumatoidarthritis"] = df_train_beneficiary["ChronicCond_rheumatoidarthritis"].map({1:1,2:0})
df_train_beneficiary["ChronicCond_stroke"] = df_train_beneficiary["ChronicCond_stroke"].map({1:1,2:0})

In [327]:
df_train_beneficiary

,BeneID,Gender,Race,RenalDiseaseIndicator,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,...,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age,Alive
0,BENE11001,1,0,0,12,12,1,0,1,0,...,1,0,1,1,36000,3204,60,70,80.97,1
1,BENE11002,0,0,0,12,12,0,0,0,0,...,0,0,0,0,0,0,30,50,87.31,1
2,BENE11003,1,0,0,12,12,1,0,0,0,...,1,0,0,0,0,0,90,40,87.39,1
3,BENE11004,1,0,0,12,12,1,1,0,0,...,1,1,1,0,0,0,1810,760,101.49,1
4,BENE11005,1,0,0,12,12,0,0,0,0,...,0,0,0,0,0,0,1790,1200,88.31,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138551,BENE159194,1,0,0,12,12,1,0,0,0,...,0,0,0,0,0,0,430,460,84.48,1
138552,BENE159195,0,0,0,12,12,1,0,0,0,...,0,0,0,0,0,0,880,100,85.06,1
138553,BENE159196,0,0,0,12,12,0,1,1,1,...,1,0,0,0,2000,1068,3240,1390,107.58,1
138554,BENE159197,1,0,0,12,12,1,1,0,0,...,1,0,0,0,0,0,2650,10,93.98,1
138555,BENE159198,0,0,0,12,12,1,1,0,0,...,0,0,1,0,0,0,5470,1870,71.72,1

In [334]:
df_test_beneficiary["Race"].unique()

array([1, 2, 3, 5])

In [345]:
df_test_inpatient

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11014,CLM67387,2009-09-09,2009-09-16,PRV57070,9000,PHY317786,PHY427017,NaN,2009-09-09,...,5990,570,41071,4280,4443.0,5849.0,NaN,NaN,NaN,NaN
1,BENE11017,CLM31237,2008-12-25,2009-01-08,PRV54750,14000,PHY314656,PHY426644,NaN,2008-12-25,...,4549,29570,34831,NaN,5551.0,NaN,NaN,NaN,NaN,NaN
2,BENE11026,CLM78930,2009-12-09,2009-12-13,PRV53758,2000,PHY349495,NaN,NaN,2009-12-09,...,78650,7813,4254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11031,CLM56810,2009-06-23,2009-07-06,PRV55825,16000,PHY429538,PHY371893,NaN,2009-06-23,...,4254,41400,5849,41401,8152.0,3320.0,NaN,NaN,NaN,NaN
4,BENE11085,CLM34625,2009-01-20,2009-01-31,PRV52338,19000,PHY397161,NaN,NaN,2009-01-20,...,V6109,7242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,BENE159139,CLM61015,2009-07-24,2009-07-26,PRV55021,23000,PHY406228,PHY406228,NaN,2009-07-24,...,53540,5715,56210,NaN,5122.0,4019.0,NaN,NaN,NaN,NaN
9547,BENE159143,CLM42885,2009-03-16,2009-03-29,PRV55017,34000,PHY354080,NaN,NaN,2009-03-16,...,78720,72402,V5413,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9548,BENE159155,CLM67124,2009-09-07,2009-10-12,PRV53758,5000,PHY338118,NaN,NaN,2009-09-07,...,E8798,60000,28521,4280,NaN,NaN,NaN,NaN,NaN,NaN
9549,BENE159181,CLM72016,2009-10-14,2009-10-17,PRV57195,3000,PHY328451,NaN,NaN,2009-10-14,...,2724,25080,29383,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9550,BENE159196,CLM47313,2009-04-17,2009-04-18,PRV51854,2000,PHY377087,NaN,NaN,2009-04-17,...,25000,V1251,2720,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [346]:
df_train_inpatient[["BeneID","ClaimStartDt","ClaimEndDt","InscClaimAmtReimbursed","AdmissionDt","DeductibleAmtPaid","DischargeDt"]]

,BeneID,ClaimStartDt,ClaimEndDt,InscClaimAmtReimbursed,AdmissionDt,DeductibleAmtPaid,DischargeDt
0,BENE11001,2009-04-12,2009-04-18,26000,2009-04-12,1068.0,2009-04-18
1,BENE11001,2009-08-31,2009-09-02,5000,2009-08-31,1068.0,2009-09-02
2,BENE11001,2009-09-17,2009-09-20,5000,2009-09-17,1068.0,2009-09-20
3,BENE11011,2009-02-14,2009-02-22,5000,2009-02-14,1068.0,2009-02-22
4,BENE11014,2009-08-13,2009-08-30,10000,2009-08-13,1068.0,2009-08-30
...,...,...,...,...,...,...,...
40469,BENE159167,2009-09-28,2009-10-02,7000,2009-09-28,1068.0,2009-10-02
40470,BENE159175,2009-11-03,2009-11-06,4000,2009-11-03,1068.0,2009-11-06
40471,BENE159177,2009-11-18,2009-11-22,3000,2009-11-18,1068.0,2009-11-22
40472,BENE159177,2009-12-17,2009-12-18,5000,2009-12-17,1068.0,2009-12-18
40473,BENE159188,2009-09-28,2009-10-06,15000,2009-09-28,1068.0,2009-10-06

In [339]:
df_train_inpatient["DiagnosisGroupCode"].unique()

array(['201', '750', '883', '067', '975', '597', '390', '379', '294',
       '262', '857', '876', '030', '202', '165', '482', '882', '226',
       '627', '346', '167', '853', '247', '198', '688', '175', '240',
       '206', '500', '712', '897', '101', '307', '255', '183', '302',
       '190', '884', '655', '368', '548', '186', '256', '216', '535',
       '166', '095', '022', '986', '357', '637', '102', '630', '409',
       '316', '241', '230', '208', '541', '624', '869', '698', '653',
       '440', '575', '654', '381', '288', '344', '663', '187', '306',
       '225', '093', '184', '078', '895', '337', '197', '872', '199',
       '281', '200', '871', '887', '351', '643', '289', '094', '592',
       '295', '484', '242', '618', '485', '290', '673', '421', '909',
       '229', '308', '453', '638', '454', '840', '558', '377', '940',
       '259', '311', '231', '461', '951', '303', '714', '446', '207',
       '356', '867', '434', '620', '180', '866', '553', '205', '561',
       '194', '031', '406', '475', '830', '858', '668', '296', '988',
       '467', '470', '693', '089', '236', '435', '989', '711', '472',
       '257', '394', '353', '675', '234', '802', '584', '181', '945',
       '292', '376', '239', '740', '550', '130', '950', '253', '619',
       '039', '195', '188', '728', '056', '036', '164', '658', '168',
       '098', '285', '456', '347', '539', '410', '385', '380', '659',
       '727', '639', '176', '055', '100', '442', '177', '984', '625',
       '814', '383', '471', '666', '339', '179', '616', '235', '305',
       '309', '941', '222', '298', '579', '465', '329', '689', '373',
       '335', '443', '657', '672', '099', '499', '414', '280', '392',
       '301', '189', '034', '387', '739', '424', '917', 'OTH', '283',
       '286', '077', '466', '816', '059', '808', '038', '881', '071',
       '595', '389', '075', '326', '310', '863', '355', '315', '885',
       '644', '384', '652', '221', '312', '420', '583', '345', '656',
       '021', '629', '870', '717', '491', '372', '626', '244', '947',
       '999', '585', '747', '694', '343', '374', '903', '223', '218',
       '232', '254', '730', '282', '534', '338', '854', '855', '959',
       '669', '263', '598', '264', '237', '391', '348', '027', '204',
       '741', '744', '551', '134', '674', '508', '564', '182', '352',
       '375', '578', '382', '386', '243', '000', '949', '987', '868',
       '939', '245', '332', '252', '665', '069', '699', '299', '349',
       '196', '054', '193', '498', '849', '238', '755', '090', '946',
       '692', '504', '660', '001', '358', '515', '642', '088', '058',
       '682', '074', '070', '378', '129', '458', '623', '053', '617',
       '661', '096', '336', '192', '249', '395', '009', '423', '488',
       '191', '417', '433', '251', '486', '203', '856', '880', '462',
       '915', '503', '331', '219', '667', '217', '233', '304', '066',
       '514', '886', '557', '432', '487', '250', '835', '291', '685',
       '542', '341', '580', '864', '695', '418', '439', '599', '862',
       '087', '012', '497', '734', '671', '540', '687', '388', '573',
       '509', '981', '496', '135', '008', '919', '837', '549', '460',
       '641', '920', '894', '416', '804', '748', '063', '023', '813',
       '603', '628', '313', '533', '086', '615', '686', '157', '502',
       '438', '091', '545', '248', '261', '178', '082', '552', '370',
       '065', '684', '412', '821', '908', '640', '606', '501', '328',
       '060', '477', '547', '809', '463', '476', '156', '948', '662',
       '726', '227', '468', '020', '799', '690', '437', '537', '072',
       '670', '544', '228', '645', '185', '079', '922', '700', '607',
       '935', '284', '300', '445', '478', '546', '002', '596', '334',
       '444', '811', '480', '425', '691', '163', '536', '393', '511',
       '085', '555', '983', '407', '506', '622', '260', '459', '068',
       '576', '333', '297', '287', '330', '340', '916', '064', '354',
       '092', '220', '029', '005', '724', '415', '566', '441', '563',
       '577', '081', '621', '729', '556', '490', '153', '565', '224',
       '815', '097', '146', '904', '479', '342', '574', '084', '507',
       '517', '823', '605', '024', '614', '982', '865', '495', '419',
       '293', '560', '839', '057', '215', '246', '512', '543', '132',
       '559', '037', '117', '538', '516', '510', '722', '369', '062',
       '906', '494', '464', '683', '083', '314', '026', '746', '756',
       '769', '125', '754', '155', '052', '489', '505', '582', '847',
       '073', '969', '028', '696', '150', '408', '151', '664', '958',
       '985', '913', '921', '757', '483', '697', '032', '327', '820',
       '749', '103', '736', '042', '896', '907', '735', '801', '602',
       '923', '826', '258', '041', '493', '474', '998', '011', '594',
       '113', '076', '760', '371', '810', '158', '061', '800', '137',
       '905', '554', '963', '562', '455', '713', '604', '350', '080',
       '848', '033', '825', '136', '708', '513', '469', '436', '738',
       '844', '492', '723', '836', '600', '782', '914', '822', '025',
       '974', '759', '902', '843', '812', '766', '901', '977', '918',
       '803', '133', '413', '003', '718', '035', '138', '593', '581',
       '422', '737', '827', '745', '457', '725', '970', '976', '709',
       '824', '481', '040', '139', '114', '845', '148', '405', '147',
       '007', '006', '774', '716', '411', '742', '004', '761', '154',
       '131', '834', '781', '715', '013', '841', '601', '473', '829',
       '743', '828', '159', '770', '010', '957', '124', '758', '842',
       '965', '964', '956', '929', '707', '149', '955', '777', '122',
       '846', '152', '779', '115', '710', '927', '778', '116', '934',
       '928', '776', '933', '838', '765', '775', '768'], dtype=object)