## Machine Learning

Now, we are done with both exploratory data analysis and preprocessing. Now we will go ahead with performing machine learning.

### Importing all packages

In [70]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import *
from sklearn.linear_model import *
from math import *
from sklearn.ensemble import *
from sklearn.feature_selection import *
from sklearn.feature_extraction import *
from sklearn.naive_bayes import *
from sklearn.discriminant_analysis import *
from sklearn.preprocessing import *
from sklearn.metrics import *
from sklearn.neighbors import *
from sklearn.cluster import *
from sklearn.kernel_approximation import *
from sklearn.svm import *

In [71]:
X_train = pd.read_csv("train_X_preprocessed.csv")
y_train = pd.read_csv("train_y_preprocessed.csv")
X_test = pd.read_csv("test_preprocessed.csv")

In [72]:
X_train.head()

,date_year,date_month,date_day,store_nbr_0,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,family_0,...,type_0,type_1,type_2,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,dcoilwtico,holiday?
0,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
1,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
2,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
3,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
4,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0

In [73]:
y_train.head()

   sales
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0

In [74]:
X_test.head()

,date_year,date_month,date_day,store_nbr_0,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,family_0,...,type_0,type_1,type_2,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,dcoilwtico,holiday?
0,2017,8,16,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,46.8,0.0
1,2017,8,16,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,46.8,0.0
2,2017,8,16,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,46.8,0.0
3,2017,8,16,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,46.8,0.0
4,2017,8,16,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,46.8,0.0

In [75]:
print("Number of rows in X_train : ",len(X_train))
print("Number of rows in y_train : ",len(y_train))
print("Number of rows in X_test  : ",len(X_test))

Number of rows in X_train :  1048575
Number of rows in y_train :  1048575
Number of rows in X_test  :  28512

In [76]:
X_train.dtypes

date_year        int64
date_month       int64
date_day         int64
store_nbr_0      int64
store_nbr_1      int64
store_nbr_2      int64
store_nbr_3      int64
store_nbr_4      int64
store_nbr_5      int64
family_0         int64
family_1         int64
family_2         int64
family_3         int64
family_4         int64
family_5         int64
onpromotion      int64
city_0           int64
city_1           int64
city_2           int64
city_3           int64
city_4           int64
state_0          int64
state_1          int64
state_2          int64
state_3          int64
type_0           int64
type_1           int64
type_2           int64
cluster_0        int64
cluster_1        int64
cluster_2        int64
cluster_3        int64
cluster_4        int64
dcoilwtico     float64
holiday?       float64
dtype: object

In [77]:
X_test.dtypes

date_year        int64
date_month       int64
date_day         int64
store_nbr_0      int64
store_nbr_1      int64
store_nbr_2      int64
store_nbr_3      int64
store_nbr_4      int64
store_nbr_5      int64
family_0         int64
family_1         int64
family_2         int64
family_3         int64
family_4         int64
family_5         int64
onpromotion      int64
city_0           int64
city_1           int64
city_2           int64
city_3           int64
city_4           int64
state_0          int64
state_1          int64
state_2          int64
state_3          int64
type_0           int64
type_1           int64
type_2           int64
cluster_0        int64
cluster_1        int64
cluster_2        int64
cluster_3        int64
cluster_4        int64
dcoilwtico     float64
holiday?       float64
dtype: object

In [78]:
y_train.dtypes

sales    float64
dtype: object

In [79]:
X_total = pd.concat([X_train,X_test])
X_total.head()

,date_year,date_month,date_day,store_nbr_0,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,family_0,...,type_0,type_1,type_2,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,dcoilwtico,holiday?
0,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
1,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
2,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
3,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
4,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0

In [80]:
col1 = ["store_nbr_0","store_nbr_1","store_nbr_2","store_nbr_3","store_nbr_4","store_nbr_5","family_0","family_1","family_2","family_3","family_4","family_5","onpromotion","city_0","city_1","city_2","city_3","city_4","state_0","state_1","state_2","state_3","type_0","type_1","type_2","cluster_0","cluster_1","cluster_2","cluster_3","cluster_4","holiday?"]

In [81]:
col2 = ["date_year","date_month","date_day","dcoilwtico"]

In [82]:
len(col1)+len(col2)

35

In [83]:
ss = StandardScaler()

X_total_1 = X_total.copy()
h = X_total[col2].to_numpy()
g = ss.fit_transform(h)
o = pd.DataFrame(g,columns=col2)
X_total_1[col2] = o
X_total_1 = X_total_1[X_total.columns.values]
X_total_1 = X_total_1.to_numpy()

In [84]:
X_train_1 = pd.DataFrame(X_total_1[0:len(X_train),:],columns=X_train.columns.values)
X_test_1 = pd.DataFrame(X_total_1[len(X_train):,:],columns=X_test.columns.values)
y_train_1 = y_train["sales"]

In [85]:
X_train_1.head()

,date_year,date_month,date_day,store_nbr_0,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,family_0,...,type_0,type_1,type_2,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,dcoilwtico,holiday?
0,-0.633647,-1.475632,-1.668899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,-0.474854,1.0
1,-0.633647,-1.475632,-1.668899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,-0.474854,1.0
2,-0.633647,-1.475632,-1.668899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,-0.474854,1.0
3,-0.633647,-1.475632,-1.668899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,-0.474854,1.0
4,-0.633647,-1.475632,-1.668899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,-0.474854,1.0

In [86]:
X_test_1.head()

,date_year,date_month,date_day,store_nbr_0,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,family_0,...,type_0,type_1,type_2,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,dcoilwtico,holiday?
0,-0.633647,-1.475632,-1.668899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,-0.474854,0.0
1,-0.633647,-1.475632,-1.668899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,-0.474854,0.0
2,-0.633647,-1.475632,-1.668899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,-0.474854,0.0
3,-0.633647,-1.475632,-1.668899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,-0.474854,0.0
4,-0.633647,-1.475632,-1.668899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,-0.474854,0.0

In [87]:
y_train_1.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: sales, dtype: float64

In [88]:
print("Number of rows in X_train : ",len(X_train_1))
print("Number of rows in y_train : ",len(y_train_1))
print("Number of rows in X_test  : ",len(X_test_1))

Number of rows in X_train :  1048575
Number of rows in y_train :  1048575
Number of rows in X_test  :  28512

In [89]:
sgd = SGDRegressor()
model = sgd.fit(X_train_1,y_train_1)

In [90]:
y_test_1 = model.predict(X_test_1)

In [91]:
y_test_1

array([363.66858156, 279.99916927, 239.50473641, ..., 190.19961287,
       150.96991035,  23.62883697])

In [105]:
org = pd.read_csv("test.csv")
id = org["id"]
id.head()

0    3000888
1    3000889
2    3000890
3    3000891
4    3000892
Name: id, dtype: int64

In [106]:
final_df = pd.DataFrame(columns=["id","sales"])
final_df["id"] = id
final_df["sales"] = y_test_1.round(2)

In [107]:
final_df.head()

        id   sales
0  3000888  363.67
1  3000889  280.00
2  3000890  239.50
3  3000891  255.82
4  3000892  498.08

In [108]:
final_df.to_csv("amith_submission3.csv",index=False)

In [109]:
final_df2 = pd.DataFrame(columns=["id","sales"])
final_df2["id"] = id
final_df2["sales"] = y_test_1

In [110]:
final_df2.head()

        id       sales
0  3000888  363.668582
1  3000889  279.999169
2  3000890  239.504736
3  3000891  255.824671
4  3000892  498.078533

In [111]:
final_df2.to_csv("amith_submission4.csv",index=False)

In [112]:
X_train.head()

,date_year,date_month,date_day,store_nbr_0,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,family_0,...,type_0,type_1,type_2,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,dcoilwtico,holiday?
0,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
1,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
2,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
3,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
4,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0

In [113]:
X_test.head()

,date_year,date_month,date_day,store_nbr_0,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,family_0,...,type_0,type_1,type_2,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,dcoilwtico,holiday?
0,2017,8,16,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,46.8,0.0
1,2017,8,16,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,46.8,0.0
2,2017,8,16,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,46.8,0.0
3,2017,8,16,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,46.8,0.0
4,2017,8,16,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,46.8,0.0

In [114]:
y_train = y_train["sales"]
y_train.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: sales, dtype: float64

In [115]:
sgd2 = SGDRegressor()
model = sgd2.fit(X_train,y_train)

In [116]:
y_test = model.predict(X_test)

In [118]:
y_test_3 = y_test
y_test_4 = y_test.round(2)

In [119]:
y_test_3

array([9.62910678e+13, 9.57408736e+13, 9.57167440e+13, ...,
       9.47456038e+13, 8.90910901e+13, 9.44951794e+13])

In [120]:
y_test_4

array([9.62910678e+13, 9.57408736e+13, 9.57167440e+13, ...,
       9.47456038e+13, 8.90910901e+13, 9.44951794e+13])

In [121]:
final_df3 = pd.DataFrame(columns=["id","sales"])
final_df3["id"] = id
final_df3["sales"] = y_test_3
final_df3.head()

        id         sales
0  3000888  9.629107e+13
1  3000889  9.574087e+13
2  3000890  9.571674e+13
3  3000891  8.368183e+13
4  3000892  9.613568e+13

In [122]:
final_df3.to_csv("amith_submission5.csv",index=False)

In [123]:
final_df4 = pd.DataFrame(columns=["id","sales"])
final_df4["id"] = id
final_df4["sales"] = y_test_4
final_df4.head()

        id         sales
0  3000888  9.629107e+13
1  3000889  9.574087e+13
2  3000890  9.571674e+13
3  3000891  8.368183e+13
4  3000892  9.613568e+13

In [124]:
final_df4.to_csv("amith_submission6.csv",index=False)

In [125]:
final_df2.to_csv("amith_submission6.csv",index=False)