## Machine Learning

Now, we are done with both exploratory data analysis and preprocessing. Now we will go ahead with performing machine learning.

### Importing all packages

In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import *
from sklearn.linear_model import *
from math import *
from sklearn.ensemble import *
from sklearn.feature_selection import *
from sklearn.feature_extraction import *
from sklearn.naive_bayes import *
from sklearn.discriminant_analysis import *
from sklearn.preprocessing import *
from sklearn.metrics import *
from sklearn.neighbors import *
from sklearn.cluster import *
from sklearn.kernel_approximation import *
from sklearn.svm import *

In [59]:
X_train = pd.read_csv("train_X_preprocessed.csv")
y_train = pd.read_csv("train_y_preprocessed.csv")
X_test = pd.read_csv("test_preprocessed.csv")

In [60]:
X_train.head()

,date_year,date_month,date_day,store_nbr_0,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,family_0,...,type_0,type_1,type_2,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,dcoilwtico,holiday?
0,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
1,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
2,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
3,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0
4,2013,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,93.366,1.0

In [61]:
y_train.head()

   sales
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0

In [62]:
X_test.head()

,date_year,date_month,date_day,store_nbr_0,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,family_0,...,type_0,type_1,type_2,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,dcoilwtico,holiday?
0,2017,8,16,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,46.8,0.0
1,2017,8,16,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,46.8,0.0
2,2017,8,16,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,46.8,0.0
3,2017,8,16,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,46.8,0.0
4,2017,8,16,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,0,46.8,0.0

In [63]:
print("Number of rows in X_train : ",len(X_train))
print("Number of rows in y_train : ",len(y_train))
print("Number of rows in X_test  : ",len(X_test))

Number of rows in X_train :  1048575
Number of rows in y_train :  1048575
Number of rows in X_test  :  28512

In [64]:
X_train.dtypes

date_year        int64
date_month       int64
date_day         int64
store_nbr_0      int64
store_nbr_1      int64
store_nbr_2      int64
store_nbr_3      int64
store_nbr_4      int64
store_nbr_5      int64
family_0         int64
family_1         int64
family_2         int64
family_3         int64
family_4         int64
family_5         int64
onpromotion      int64
city_0           int64
city_1           int64
city_2           int64
city_3           int64
city_4           int64
state_0          int64
state_1          int64
state_2          int64
state_3          int64
type_0           int64
type_1           int64
type_2           int64
cluster_0        int64
cluster_1        int64
cluster_2        int64
cluster_3        int64
cluster_4        int64
dcoilwtico     float64
holiday?       float64
dtype: object

In [65]:
X_test.dtypes

date_year        int64
date_month       int64
date_day         int64
store_nbr_0      int64
store_nbr_1      int64
store_nbr_2      int64
store_nbr_3      int64
store_nbr_4      int64
store_nbr_5      int64
family_0         int64
family_1         int64
family_2         int64
family_3         int64
family_4         int64
family_5         int64
onpromotion      int64
city_0           int64
city_1           int64
city_2           int64
city_3           int64
city_4           int64
state_0          int64
state_1          int64
state_2          int64
state_3          int64
type_0           int64
type_1           int64
type_2           int64
cluster_0        int64
cluster_1        int64
cluster_2        int64
cluster_3        int64
cluster_4        int64
dcoilwtico     float64
holiday?       float64
dtype: object

In [66]:
y_train.dtypes

sales    float64
dtype: object

### Performing feature scaling

In [68]:
ss = StandardScaler()
X_total = pd.concat([X_train,X_test])
X_total_1 = ss.fit_transform(X_total)
X_train_1 = pd.DataFrame(X_total_1[0:len(X_train),:],columns=X_total.columns.values)
X_test_1 = pd.DataFrame(X_total_1[len(X_train):,:],columns=X_total.columns.values)
y_train_1 = y_train["sales"]

In [69]:
X_train_1.head()

,date_year,date_month,date_day,store_nbr_0,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,family_0,...,type_0,type_1,type_2,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,dcoilwtico,holiday?
0,-0.633647,-1.475632,-1.668899,-0.828663,-0.829347,-0.894526,-0.963501,-0.96362,-0.999969,-0.176777,...,-0.282861,0.797573,1.03769,-0.137311,1.037626,1.037563,-0.928497,-0.963501,-0.474854,2.597893
1,-0.633647,-1.475632,-1.668899,-0.828663,-0.829347,-0.894526,-0.963501,-0.96362,-0.999969,-0.176777,...,-0.282861,0.797573,1.03769,-0.137311,1.037626,1.037563,-0.928497,-0.963501,-0.474854,2.597893
2,-0.633647,-1.475632,-1.668899,-0.828663,-0.829347,-0.894526,-0.963501,-0.96362,-0.999969,-0.176777,...,-0.282861,0.797573,1.03769,-0.137311,1.037626,1.037563,-0.928497,-0.963501,-0.474854,2.597893
3,-0.633647,-1.475632,-1.668899,-0.828663,-0.829347,-0.894526,-0.963501,-0.96362,-0.999969,-0.176777,...,-0.282861,0.797573,1.03769,-0.137311,1.037626,1.037563,-0.928497,-0.963501,-0.474854,2.597893
4,-0.633647,-1.475632,-1.668899,-0.828663,-0.829347,-0.894526,-0.963501,-0.96362,-0.999969,-0.176777,...,-0.282861,0.797573,1.03769,-0.137311,1.037626,1.037563,-0.928497,-0.963501,-0.474854,2.597893

In [70]:
X_test_1.head()

,date_year,date_month,date_day,store_nbr_0,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,family_0,...,type_0,type_1,type_2,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,dcoilwtico,holiday?
0,4.677841,0.718889,0.033475,-0.828663,-0.829347,-0.894526,-0.963501,-0.96362,-0.999969,-0.176777,...,-0.282861,0.797573,1.03769,-0.137311,1.037626,1.037563,-0.928497,-0.963501,-5.449875,-0.384927
1,4.677841,0.718889,0.033475,-0.828663,-0.829347,-0.894526,-0.963501,-0.96362,-0.999969,-0.176777,...,-0.282861,0.797573,1.03769,-0.137311,1.037626,1.037563,-0.928497,-0.963501,-5.449875,-0.384927
2,4.677841,0.718889,0.033475,-0.828663,-0.829347,-0.894526,-0.963501,-0.96362,-0.999969,-0.176777,...,-0.282861,0.797573,1.03769,-0.137311,1.037626,1.037563,-0.928497,-0.963501,-5.449875,-0.384927
3,4.677841,0.718889,0.033475,-0.828663,-0.829347,-0.894526,-0.963501,-0.96362,-0.999969,-0.176777,...,-0.282861,0.797573,1.03769,-0.137311,1.037626,1.037563,-0.928497,-0.963501,-5.449875,-0.384927
4,4.677841,0.718889,0.033475,-0.828663,-0.829347,-0.894526,-0.963501,-0.96362,-0.999969,-0.176777,...,-0.282861,0.797573,1.03769,-0.137311,1.037626,1.037563,-0.928497,-0.963501,-5.449875,-0.384927

In [71]:
sgd = SGDRegressor()
model = sgd.fit(X_train_1,y_train_1)

In [72]:
y_test_1 = model.predict(X_test_1)

In [75]:
y_test_1

array([796.14297913, 715.04069319, 712.33082287, ..., 646.14872518,
       734.64504371, 455.93459336])

In [78]:
org = pd.read_csv("test.csv")
id = org["id"]
id.head()

0    3000888
1    3000889
2    3000890
3    3000891
4    3000892
Name: id, dtype: int64

In [82]:
final_df = pd.DataFrame(columns=["id","sales"])
final_df["id"] = id
final_df["sales"] = y_test_1.round(2)

In [85]:
final_df.head()

        id    sales
0  3000888   796.14
1  3000889   715.04
2  3000890   712.33
3  3000891  1012.83
4  3000892   922.97

In [86]:
final_df.to_csv("amith_submission.csv",index=False)