## Data Preprocessing

Now, we are done with exploratory data analysis of both training and testing datasets. Now, we should get into preprocessing for both the datasets as some of the features are not numerical.

### Importing all packages

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import *
from sklearn.linear_model import *
from math import *
from sklearn.ensemble import *
from sklearn.feature_selection import *
from sklearn.feature_extraction import *
from sklearn.naive_bayes import *
from sklearn.discriminant_analysis import *
from sklearn.preprocessing import *
from sklearn.metrics import *
from sklearn.neighbors import *
from sklearn.cluster import *
from binary_encoding import *

In [16]:
df_train = pd.read_csv("train_eda.csv")
df_test = pd.read_csv("test_eda.csv")

In [17]:
df_train.head()

,id,date,store_nbr,family,onpromotion,city,state,type,cluster,dcoilwtico,holiday?,sales
0,0,2013-01-01,1,AUTOMOTIVE,0,Quito,Pichincha,D,13,93.366,1.0,0.0
1,1,2013-01-01,1,BABY CARE,0,Quito,Pichincha,D,13,93.366,1.0,0.0
2,2,2013-01-01,1,BEAUTY,0,Quito,Pichincha,D,13,93.366,1.0,0.0
3,3,2013-01-01,1,BEVERAGES,0,Quito,Pichincha,D,13,93.366,1.0,0.0
4,4,2013-01-01,1,BOOKS,0,Quito,Pichincha,D,13,93.366,1.0,0.0

In [18]:
df_test.head()

,id,date,store_nbr,family,onpromotion,city,state,type,cluster,dcoilwtico,holiday?
0,3000888,2017-08-16,1,AUTOMOTIVE,0,Quito,Pichincha,D,13,46.8,0.0
1,3000889,2017-08-16,1,BABY CARE,0,Quito,Pichincha,D,13,46.8,0.0
2,3000890,2017-08-16,1,BEAUTY,2,Quito,Pichincha,D,13,46.8,0.0
3,3000891,2017-08-16,1,BEVERAGES,20,Quito,Pichincha,D,13,46.8,0.0
4,3000892,2017-08-16,1,BOOKS,0,Quito,Pichincha,D,13,46.8,0.0

In [19]:
print("Length of training dataset : ",len(df_train))
print("Length of testing dataset  : ",len(df_test))

Length of training dataset :  1048575
Length of testing dataset  :  28512

### Description on both training and testing datasets

In [20]:
df_train.describe().round(2)

,id,store_nbr,onpromotion,cluster,dcoilwtico,holiday?,sales
count,1048575.00,1048575.00,1048575.00,1048575.00,1048575.00,1048575.00,1048575.00
mean,524287.00,27.49,0.11,8.48,99.19,0.13,244.53
std,302697.67,15.58,2.38,4.65,4.31,0.34,806.59
min,0.00,1.00,0.00,1.00,86.65,0.00,0.00
25%,262143.50,14.00,0.00,4.00,96.29,0.00,0.00
50%,524287.00,27.00,0.00,9.00,99.19,0.00,1.00
75%,786430.50,41.00,0.00,13.00,101.92,0.00,120.00
max,1048574.00,54.00,196.00,17.00,110.62,1.00,46271.00

In [21]:
df_test.describe().round(2)

               id  store_nbr  onpromotion   cluster  dcoilwtico  holiday?
count    28512.00   28512.00     28512.00  28512.00    28512.00  28512.00
mean   3015143.50      27.50         6.97      8.48       47.24      0.06
std       8230.85      15.59        20.68      4.65        0.65      0.24
min    3000888.00       1.00         0.00      1.00       45.96      0.00
25%    3008015.75      14.00         0.00      4.00       47.00      0.00
50%    3015143.50      27.50         0.00      8.50       47.24      0.00
75%    3022271.25      41.00         6.00     13.00       47.46      0.00
max    3029399.00      54.00       646.00     17.00       48.59      1.00

### Information about both training and testing datasets

In [22]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 12 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   id           1048575 non-null  int64
 1   date         1048575 non-null  object
 2   store_nbr    1048575 non-null  int64
 3   family       1048575 non-null  object
 4   onpromotion  1048575 non-null  int64
 5   city         1048575 non-null  object
 6   state        1048575 non-null  object
 7   type         1048575 non-null  object
 8   cluster      1048575 non-null  int64
 9   dcoilwtico   1048575 non-null  float64
 10  holiday?     1048575 non-null  float64
 11  sales        1048575 non-null  float64
dtypes: float64(3), int64(4), object(5)
memory usage: 96.0+ MB

In [23]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           28512 non-null  int64
 1   date         28512 non-null  object
 2   store_nbr    28512 non-null  int64
 3   family       28512 non-null  object
 4   onpromotion  28512 non-null  int64
 5   city         28512 non-null  object
 6   state        28512 non-null  object
 7   type         28512 non-null  object
 8   cluster      28512 non-null  int64
 9   dcoilwtico   28512 non-null  float64
 10  holiday?     28512 non-null  float64
dtypes: float64(2), int64(4), object(5)
memory usage: 2.4+ MB

### Conversion of date from object type to datetime[64ns] type

In [24]:
df_train["date"] = pd.to_datetime(df_train["date"])
df_test["date"] = pd.to_datetime(df_test["date"])

### Checking for "store" column

In [25]:
store_num_train = df_train["store_nbr"].unique()
store_num_train.sort()
store_num_train

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54])

In [26]:
store_num_test = df_test["store_nbr"].unique()
store_num_test.sort()
store_num_test

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54])

### Subtracting each element of store numbers for convenience

In [27]:
df_train_1 = df_train.copy()
df_test_1 = df_test.copy()
df_train_1["store_nbr"] = df_train_1["store_nbr"] - 1
df_test_1["store_nbr"] = df_test_1["store_nbr"] - 1

### Binary encoding function

In [32]:
def binary_enc(eb,df):
    bin_convert = lambda x: eb.dec_to_bin(x)
    bin_list = list(map(bin_convert, df))
    len_of_each_ele = lambda x: len(x)
    max_len = max(list(map(len_of_each_ele, bin_list)))
    optimi_bin = lambda x: eb.max_len_bin(df, max_len)
    bin_stabi = list(map(optimi_bin, bin_list))
    cols = eb.column_names(df.name, max_len)
    df_num = pd.DataFrame(bin_stabi, columns=cols)
    return df_num

### Performing binary encoding for "store_nbr" column

In [34]:
eb1 = EncodeBinary()
store_num_train = binary_enc(eb1,df_train_1["store_nbr"])
store_num_train.head()

ValueError: negative dimensions are not allowed

In [41]:
bin_convert = lambda x: eb1.dec_to_bin(x)
bin_list = list(map(bin_convert,df_train_1["store_nbr"]))
len_of_each_ele = lambda x: len(x)
max_len = max(list(map(len_of_each_ele,bin_list)))
optimi_bin = lambda x: eb1.max_len_bin(x,max_len)
bin_stabi = list(map(optimi_bin,bin_list))
cols = eb1.column_names(df_train_1["store_nbr"].name,max_len)
store_num_train = pd.DataFrame(bin_stabi,columns=cols)
store_num_train.head()

In [42]:
bin_convert = lambda x: eb1.dec_to_bin(x)
bin_list = list(map(bin_convert,df_test_1["store_nbr"]))
len_of_each_ele = lambda x: len(x)
max_len = max(list(map(len_of_each_ele,bin_list)))
optimi_bin = lambda x: eb1.max_len_bin(x,max_len)
bin_stabi = list(map(optimi_bin,bin_list))
cols = eb1.column_names(df_test_1["store_nbr"].name,max_len)
store_num_test = pd.DataFrame(bin_stabi,columns=cols)
store_num_test.head()

In [43]:
print("Number of rows in training set : ",len(store_num_train))
print("Number of rows in testing set  : ",len(store_num_test))

Number of rows in training set :  1048575
Number of rows in testing set  :  28512

In [50]:
df_train_2 = df_train_1.copy()
df_test_2 = df_test_1.copy()
df_train_2[store_num_train.columns.values] = store_num_train
df_test_2[store_num_test.columns.values] = store_num_test
df_train_2.drop("store_nbr",axis=1,inplace=True)
df_test_2.drop("store_nbr",axis=1,inplace=True)
df_train_2 = df_train_2[["id","date","store_nbr_0","store_nbr_1","store_nbr_2","store_nbr_3","store_nbr_4","store_nbr_5","family","onpromotion","city","state","type","cluster","dcoilwtico","holiday?","sales"]]
df_test_2 = df_test_2[["id","date","store_nbr_0","store_nbr_1","store_nbr_2","store_nbr_3","store_nbr_4","store_nbr_5","family","onpromotion","city","state","type","cluster","dcoilwtico","holiday?"]]

In [51]:
df_train_2.head()

,id,date,store_nbr_0,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,family,onpromotion,city,state,type,cluster,dcoilwtico,holiday?,sales
0,0,2013-01-01,0,0,0,0,0,0,AUTOMOTIVE,0,Quito,Pichincha,D,13,93.366,1.0,0.0
1,1,2013-01-01,0,0,0,0,0,0,BABY CARE,0,Quito,Pichincha,D,13,93.366,1.0,0.0
2,2,2013-01-01,0,0,0,0,0,0,BEAUTY,0,Quito,Pichincha,D,13,93.366,1.0,0.0
3,3,2013-01-01,0,0,0,0,0,0,BEVERAGES,0,Quito,Pichincha,D,13,93.366,1.0,0.0
4,4,2013-01-01,0,0,0,0,0,0,BOOKS,0,Quito,Pichincha,D,13,93.366,1.0,0.0

In [52]:
df_test_2.head()

,id,date,store_nbr_0,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,family,onpromotion,city,state,type,cluster,dcoilwtico,holiday?
0,3000888,2017-08-16,0,0,0,0,0,0,AUTOMOTIVE,0,Quito,Pichincha,D,13,46.8,0.0
1,3000889,2017-08-16,0,0,0,0,0,0,BABY CARE,0,Quito,Pichincha,D,13,46.8,0.0
2,3000890,2017-08-16,0,0,0,0,0,0,BEAUTY,2,Quito,Pichincha,D,13,46.8,0.0
3,3000891,2017-08-16,0,0,0,0,0,0,BEVERAGES,20,Quito,Pichincha,D,13,46.8,0.0
4,3000892,2017-08-16,0,0,0,0,0,0,BOOKS,0,Quito,Pichincha,D,13,46.8,0.0

In [54]:
print("Number of rows in training set : ",len(df_train_2))
print("Number of rows in testing set  : ",len(df_test_2))

Number of rows in training set :  1048575
Number of rows in testing set  :  28512

### Checking for "family" column

In [66]:
df_train_2["family"].unique()

array(['AUTOMOTIVE', 'BABY CARE', 'BEAUTY', 'BEVERAGES', 'BOOKS',
       'BREAD/BAKERY', 'CELEBRATION', 'CLEANING', 'DAIRY', 'DELI', 'EGGS',
       'FROZEN FOODS', 'GROCERY I', 'GROCERY II', 'HARDWARE',
       'HOME AND KITCHEN I', 'HOME AND KITCHEN II', 'HOME APPLIANCES',
       'HOME CARE', 'LADIESWEAR', 'LAWN AND GARDEN', 'LINGERIE',
       'LIQUOR,WINE,BEER', 'MAGAZINES', 'MEATS', 'PERSONAL CARE',
       'PET SUPPLIES', 'PLAYERS AND ELECTRONICS', 'POULTRY',
       'PREPARED FOODS', 'PRODUCE', 'SCHOOL AND OFFICE SUPPLIES',
       'SEAFOOD'], dtype=object)

In [67]:
df_test_2["family"].unique()

array(['AUTOMOTIVE', 'BABY CARE', 'BEAUTY', 'BEVERAGES', 'BOOKS',
       'BREAD/BAKERY', 'CELEBRATION', 'CLEANING', 'DAIRY', 'DELI', 'EGGS',
       'FROZEN FOODS', 'GROCERY I', 'GROCERY II', 'HARDWARE',
       'HOME AND KITCHEN I', 'HOME AND KITCHEN II', 'HOME APPLIANCES',
       'HOME CARE', 'LADIESWEAR', 'LAWN AND GARDEN', 'LINGERIE',
       'LIQUOR,WINE,BEER', 'MAGAZINES', 'MEATS', 'PERSONAL CARE',
       'PET SUPPLIES', 'PLAYERS AND ELECTRONICS', 'POULTRY',
       'PREPARED FOODS', 'PRODUCE', 'SCHOOL AND OFFICE SUPPLIES',
       'SEAFOOD'], dtype=object)

### Mapping family elements to numbers

In [68]:
ctr = 0
diction = dict()
for i in df_train_2["family"].unique():
    diction[i] = ctr
    ctr += 1
diction

{'AUTOMOTIVE': 0,
 'BABY CARE': 1,
 'BEAUTY': 2,
 'BEVERAGES': 3,
 'BOOKS': 4,
 'BREAD/BAKERY': 5,
 'CELEBRATION': 6,
 'CLEANING': 7,
 'DAIRY': 8,
 'DELI': 9,
 'EGGS': 10,
 'FROZEN FOODS': 11,
 'GROCERY I': 12,
 'GROCERY II': 13,
 'HARDWARE': 14,
 'HOME AND KITCHEN I': 15,
 'HOME AND KITCHEN II': 16,
 'HOME APPLIANCES': 17,
 'HOME CARE': 18,
 'LADIESWEAR': 19,
 'LAWN AND GARDEN': 20,
 'LINGERIE': 21,
 'LIQUOR,WINE,BEER': 22,
 'MAGAZINES': 23,
 'MEATS': 24,
 'PERSONAL CARE': 25,
 'PET SUPPLIES': 26,
 'PLAYERS AND ELECTRONICS': 27,
 'POULTRY': 28,
 'PREPARED FOODS': 29,
 'PRODUCE': 30,
 'SCHOOL AND OFFICE SUPPLIES': 31,
 'SEAFOOD': 32}

In [69]:
fam_train = df_train_2["family"].map(diction)
fam_test = df_test_2["family"].map(diction)

In [70]:
fam_train.head()

0    0
1    1
2    2
3    3
4    4
Name: family, dtype: int64

In [71]:
fam_test.head()

0    0
1    1
2    2
3    3
4    4
Name: family, dtype: int64

In [72]:
print("Number of rows in training set : ",len(fam_train))
print("Number of rows in testing set  : ",len(fam_test))

Number of rows in training set :  1048575
Number of rows in testing set  :  28512

### Performing binary encoding on "family" column

In [ ]:
bin_convert = lambda x: eb1.dec_to_bin(x)
bin_list = list(map(bin_convert,df_train_1["store_nbr"]))
len_of_each_ele = lambda x: len(x)
max_len = max(list(map(len_of_each_ele,bin_list)))
optimi_bin = lambda x: eb1.max_len_bin(x,max_len)
bin_stabi = list(map(optimi_bin,bin_list))
cols = eb1.column_names(df_train_1["store_nbr"].name,max_len)
store_num_train = pd.DataFrame(bin_stabi,columns=cols)
store_num_train.head()