## Data Preprocessing

Now, we are done with exploratory data analysis of both training and testing datasets. Now, we should get into preprocessing for both the datasets as some of the features are not numerical.

### Importing all packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import *
from sklearn.linear_model import *
from math import *
from sklearn.ensemble import *
from sklearn.feature_selection import *
from sklearn.feature_extraction import *
from sklearn.naive_bayes import *
from sklearn.discriminant_analysis import *
from sklearn.preprocessing import *
from sklearn.metrics import *
from sklearn.neighbors import *
from sklearn.cluster import *
from category_encoders import *

### Importing training and testing datasets

In [2]:
df_train = pd.read_csv("train_eda.csv")
df_test = pd.read_csv("test_eda.csv")

In [3]:
df_train.head()

,id,date,store_nbr,family,onpromotion,city,state,type,cluster,dcoilwtico,holiday?,sales
0,0,2013-01-01,1,AUTOMOTIVE,0,Quito,Pichincha,D,13,93.366,1.0,0.0
1,1,2013-01-01,1,BABY CARE,0,Quito,Pichincha,D,13,93.366,1.0,0.0
2,2,2013-01-01,1,BEAUTY,0,Quito,Pichincha,D,13,93.366,1.0,0.0
3,3,2013-01-01,1,BEVERAGES,0,Quito,Pichincha,D,13,93.366,1.0,0.0
4,4,2013-01-01,1,BOOKS,0,Quito,Pichincha,D,13,93.366,1.0,0.0

In [4]:
df_test.head()

,id,date,store_nbr,family,onpromotion,city,state,type,cluster,dcoilwtico,holiday?
0,3000888,2017-08-16,1,AUTOMOTIVE,0,Quito,Pichincha,D,13,46.8,0.0
1,3000889,2017-08-16,1,BABY CARE,0,Quito,Pichincha,D,13,46.8,0.0
2,3000890,2017-08-16,1,BEAUTY,2,Quito,Pichincha,D,13,46.8,0.0
3,3000891,2017-08-16,1,BEVERAGES,20,Quito,Pichincha,D,13,46.8,0.0
4,3000892,2017-08-16,1,BOOKS,0,Quito,Pichincha,D,13,46.8,0.0

In [5]:
print("Length of training dataset : ",len(df_train))
print("Length of testing dataset  : ",len(df_test))

Length of training dataset :  1048575
Length of testing dataset  :  28512

### Description on both training and testing datasets

In [6]:
df_train.describe().round(2)

,id,store_nbr,onpromotion,cluster,dcoilwtico,holiday?,sales
count,1048575.00,1048575.00,1048575.00,1048575.00,1048575.00,1048575.00,1048575.00
mean,524287.00,27.49,0.11,8.48,99.19,0.13,244.53
std,302697.67,15.58,2.38,4.65,4.31,0.34,806.59
min,0.00,1.00,0.00,1.00,86.65,0.00,0.00
25%,262143.50,14.00,0.00,4.00,96.29,0.00,0.00
50%,524287.00,27.00,0.00,9.00,99.19,0.00,1.00
75%,786430.50,41.00,0.00,13.00,101.92,0.00,120.00
max,1048574.00,54.00,196.00,17.00,110.62,1.00,46271.00

In [7]:
df_test.describe().round(2)

               id  store_nbr  onpromotion   cluster  dcoilwtico  holiday?
count    28512.00   28512.00     28512.00  28512.00    28512.00  28512.00
mean   3015143.50      27.50         6.97      8.48       47.24      0.06
std       8230.85      15.59        20.68      4.65        0.65      0.24
min    3000888.00       1.00         0.00      1.00       45.96      0.00
25%    3008015.75      14.00         0.00      4.00       47.00      0.00
50%    3015143.50      27.50         0.00      8.50       47.24      0.00
75%    3022271.25      41.00         6.00     13.00       47.46      0.00
max    3029399.00      54.00       646.00     17.00       48.59      1.00

### Information about both training and testing datasets

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 12 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   id           1048575 non-null  int64
 1   date         1048575 non-null  object
 2   store_nbr    1048575 non-null  int64
 3   family       1048575 non-null  object
 4   onpromotion  1048575 non-null  int64
 5   city         1048575 non-null  object
 6   state        1048575 non-null  object
 7   type         1048575 non-null  object
 8   cluster      1048575 non-null  int64
 9   dcoilwtico   1048575 non-null  float64
 10  holiday?     1048575 non-null  float64
 11  sales        1048575 non-null  float64
dtypes: float64(3), int64(4), object(5)
memory usage: 96.0+ MB

In [9]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           28512 non-null  int64
 1   date         28512 non-null  object
 2   store_nbr    28512 non-null  int64
 3   family       28512 non-null  object
 4   onpromotion  28512 non-null  int64
 5   city         28512 non-null  object
 6   state        28512 non-null  object
 7   type         28512 non-null  object
 8   cluster      28512 non-null  int64
 9   dcoilwtico   28512 non-null  float64
 10  holiday?     28512 non-null  float64
dtypes: float64(2), int64(4), object(5)
memory usage: 2.4+ MB

### Conversion of date from object type to datetime[64ns] type

In [10]:
df_train["date"] = pd.to_datetime(df_train["date"])
df_test["date"] = pd.to_datetime(df_test["date"])

### Checking for Store numbers