# Natural Language Processing with Disaster Tweets

## Overview

### Description

Welcome to one of our "Getting Started" competitions üëã
This particular challenge is perfect for data scientists looking to get started with Natural Language Processing. The competition dataset is not too big, and even if you don‚Äôt have much personal computing power, you can do all of the work in our free, no-setup, Jupyter Notebooks environment called Kaggle Notebooks.

If you want to talk with other users about this competition, come join our Discord! We've got channels for competitions, job postings and career discussions, resources, and socializing with your fellow data scientists. Follow the link here: https://discord.gg/kaggle

### Competition Description

Twitter has become an important communication channel in times of emergency.
The ubiquitousness of smartphones enables people to announce an emergency they‚Äôre observing in real-time. Because of this, more agencies are interested in programatically monitoring Twitter (i.e. disaster relief organizations and news agencies).

But, it‚Äôs not always clear whether a person‚Äôs words are actually announcing a disaster. Take this example:

![alt-text](/Users/amith/Downloads/tweet_screenshot.png "optional-title")

The author explicitly uses the word ‚ÄúABLAZE‚Äù but means it metaphorically. This is clear to a human right away, especially with the visual aid. But it‚Äôs less clear to a machine.

In this competition, you‚Äôre challenged to build a machine learning model that predicts which Tweets are about real disasters and which one‚Äôs aren‚Äôt. You‚Äôll have access to a dataset of 10,000 tweets that were hand classified. If this is your first time working on an NLP problem, we've created a quick tutorial to get you up and running.

Disclaimer: The dataset for this competition contains text that may be considered profane, vulgar, or offensive.

### Acknowledgments
This dataset was created by the company figure-eight and originally shared on their ‚ÄòData For Everyone‚Äô website here.

Tweet source: https://twitter.com/AnyOtherAnnaK/status/629195955506708480

## Dataset Description

What files do I need?
You'll need train.csv, test.csv and sample_submission.csv.

What should I expect the data format to be?
Each sample in the train and test set has the following information:

The text of a tweet
A keyword from that tweet (although this may be blank!)
The location the tweet was sent from (may also be blank)
What am I predicting?
You are predicting whether a given tweet is about a real disaster or not. If so, predict a 1. If not, predict a 0.

### Files

**train.csv** - the training set
**test.csv** - the test set
**sample_submission.csv** - a sample submission file in the correct format

### Columns
**id** - a unique identifier for each tweet
**text** - the text of the tweet
**location** - the location the tweet was sent from (may be blank)
**keyword** - a particular keyword from the tweet (may be blank)
**target** - in train.csv only, this denotes whether a tweet is about a real disaster (1) or not (0)

In [240]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import nltk
import warnings
warnings.filterwarnings("ignore")

In [241]:
df_train = pd.read_csv("nlp-getting-started/train.csv")

In [242]:
df_train

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [243]:
df_train.isna().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [244]:
df_train_1 = df_train[~(df_train["keyword"].isna() & df_train["keyword"].isna())].reset_index(drop=True)
df_train_1

,id,keyword,location,text,target
0,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
1,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
2,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
3,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
4,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
...,...,...,...,...,...
7547,10830,wrecked,NaN,@jt_ruff23 @cameronhacker and I wrecked you both,0
7548,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0
7549,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0
7550,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0
7551,10834,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0

In [245]:
df_train_1["target"].value_counts()

target
0    4323
1    3229
Name: count, dtype: int64

In [246]:
df_train_1["target"].value_counts()*100/len(df_train_1["target"])

target
0    57.243114
1    42.756886
Name: count, dtype: float64

In [247]:
np.abs(np.diff(df_train_1["target"].value_counts()))

array([1094])

In [248]:
df_train_1.isna().sum()

id             0
keyword        0
location    2472
text           0
target         0
dtype: int64

In [250]:
df_target_no_location = df_train_1[df_train_1["location"].isna()][df_train_1["target"]==0]
df_target_no_location

,id,keyword,location,text,target
10,61,ablaze,NaN,on the outside you're ablaze and alive\nbut yo...,0
12,63,ablaze,NaN,SOOOO PUMPED FOR ABLAZE ???? @southridgelife,0
13,64,ablaze,NaN,I wanted to set Chicago ablaze with my preachi...,0
14,65,ablaze,NaN,I gained 3 followers in the last week. You? Kn...,0
16,67,ablaze,NaN,Building the perfect tracklist to life leave t...,0
...,...,...,...,...,...
7534,10814,wrecked,NaN,Wrecked tired but not gonna be asleep before 3??,0
7537,10818,wrecked,NaN,The Riddler would be the best early-exit prima...,0
7545,10827,wrecked,NaN,He just wrecked all of you http://t.co/y46isyZkC8,0
7547,10830,wrecked,NaN,@jt_ruff23 @cameronhacker and I wrecked you both,0
7551,10834,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0

In [340]:
per_to_remove = np.abs(np.diff(df_train_1["target"].value_counts()))*100/len(df_target_no_location)
per_to_remove

array([76.02501737])

In [341]:
df_target_no_location["keyword"].value_counts()

keyword
body%20bags              18
detonation               18
blizzard                 17
twister                  17
army                     17
                         ..
buildings%20on%20fire     1
nuclear%20disaster        1
razed                     1
radiation%20emergency     1
suicide%20bombing         1
Name: count, Length: 211, dtype: int64

In [342]:
key_group = df_target_no_location.groupby("keyword")
key_group

In [343]:
keyword_groups = key_group.groups
keyword_groups

{'ablaze': [10, 12, 13, 14, 16, 29], 'accident': [44, 49, 51, 59], 'aftershock': [79, 81, 85, 91, 92, 99, 100, 101, 104], 'ambulance': [154, 167, 174, 175], 'annihilated': [182, 184, 188, 191, 200, 205, 209], 'annihilation': [213, 214, 215, 219, 230, 231, 236, 237], 'apocalypse': [243, 244, 248, 252, 253, 255, 257, 258, 264, 265, 266, 272], 'armageddon': [276, 277, 279, 281, 287, 296, 301, 306, 310], 'army': [315, 316, 317, 318, 319, 320, 324, 329, 333, 334, 336, 339, 340, 341, 342, 346, 347], 'arson': [349], 'arsonist': [398, 402, 407, 411, 413], 'attack': [433, 446, 448], 'attacked': [466, 476], 'avalanche': [489, 493, 497, 500, 503], 'battle': [518, 522, 523, 527, 533], 'bioterror': [544, 560, 563, 575], 'bioterrorism': [582, 587, 593, 596, 598, 603, 605], 'blaze': [610, 611, 612, 615, 619, 620, 621, 625, 627, 631, 640, 642, 645], 'blazing': [648, 651, 653, 654, 655, 657, 660, 663, 664, 666, 667, 669, 670, 679], 'bleeding': [681, 683, 685, 686, 689, 695, 698, 699, 700, 703, 705, 709, 714], 'blew%20up': [716, 718, 723, 724, 731, 732, 733, 735, 739, 745], 'blight': [752, 760, 764, 768, 779, 780], 'blizzard': [781, 782, 789, 791, 793, 795, 796, 797, 799, 800, 807, 808, 810, 812, 813, 814, 815], 'blood': [818, 819, 821, 822, 824, 827, 828, 829, 830, 834, 836, 838, 841, 842, 849], 'bloody': [854, 860, 862, 871, 874, 879, 880], 'blown%20up': [892, 899, 910, 911, 912, 917, 919], 'body%20bag': [923, 925, 931, 932, 937, 939, 942, 944, 945, 947, 951, 953], 'body%20bagging': [958, 964, 967, 969, 970, 971, 973, 978], 'body%20bags': [990, 997, 1000, 1001, 1002, 1006, 1008, 1009, 1010, 1011, 1013, 1014, 1016, 1019, 1021, 1022, 1025, 1027], 'bomb': [1029, 1047, 1048, 1055, 1056], 'bombed': [1063, 1067, 1074, 1075, 1077, 1078, 1081, 1086, 1087, 1091], 'bombing': [1126], 'bridge%20collapse': [1155, 1162], 'buildings%20burning': [1164, 1169, 1181, 1195], 'buildings%20on%20fire': [1207], 'burned': [1235, 1239, 1247, 1251, 1254, 1255, 1256, 1260, 1262, 1263], 'burning': [1266, 1270, 1274, 1276, 1277, 1280, 1283, 1287, 1291, 1296, 1298], 'burning%20buildings': [1305, 1310, 1311, 1317, 1319, 1324], 'bush%20fires': [1343, 1352, 1355, 1359], 'casualty': [1405, 1414, 1415, 1416, 1417, 1419, 1424, 1425, 1429], 'catastrophe': [1433, 1435, 1437, 1438, 1447, 1448, 1450, 1451, 1457, 1463], 'catastrophic': [1469, 1476, 1492], 'chemical%20emergency': [1496, 1503, 1510, 1523, 1525], 'cliff%20fall': [1530, 1532, 1537, 1541, 1545, 1548, 1553, 1561], 'collapse': [1580, 1588], 'collapsed': [1603, 1613, 1618, 1620, 1629], 'collide': [1634, 1635, 1637, 1640, 1643, 1647, 1664, 1665], 'collided': [1669, 1671, 1687, 1692, 1698, 1700], 'crash': [1747, 1748, 1749, 1752, 1753, 1762, 1765, 1769, 1771, 1772, 1773, 1775, 1778], 'crashed': [1783, 1794, 1805, 1809], 'crush': [1817, 1821, 1824, 1829, 1835, 1836, 1839, 1841, 1843, 1848, 1849, 1850], 'crushed': [1851, 1852, 1855, 1856, 1859, 1862, 1863, 1865, 1876], 'curfew': [1882, 1884, 1885, 1889, 1894, 1895, 1897, 1905, 1914, 1917], 'cyclone': [1924, 1940, 1941, 1942], 'damage': [1952, 1958, 1960, 1962, 1980, 1981, 1983], 'danger': [1992, 2005, 2016, 2017, 2027], 'dead': [2028, 2031, 2032, 2035, 2039, 2044, 2052, 2055], 'death': [2058, 2061, 2067, 2068, 2070, 2071, 2075, 2077, 2078, 2079, 2080, 2090], 'deaths': [2095, 2104, 2119], 'deluge': [2173, 2177, 2187, 2188, 2192, 2194, 2196, 2197, 2198, 2199, 2202, 2207], 'deluged': [2213, 2215, 2217, 2218, 2220, 2225, 2227, 2228, 2230, 2232, 2233], 'demolish': [2243, 2244, 2245, 2246, 2253, 2264], 'demolished': [2284, 2285, 2288, 2291, 2297], 'demolition': [2301, 2305, 2306, 2314, 2316, 2318, 2320, 2321, 2331, 2333], 'derail': [2339, 2341], 'derailed': [2382, 2390, 2398], 'desolate': [2451, 2453, 2458, 2465, 2467, 2470, 2471, 2472, 2475], 'desolation': [2484, 2490, 2502, 2503, 2506], 'destroy': [2520, 2522, 2527, 2529, 2531, 2534, 2535, 2536, 2543, 2547], 'destroyed': [2549, 2552, 2553, 2554, 2555, 2561, 2575], 'destruction': [2583, 2587, 2592, 2594, 2599, 2600, 2603, 2606, 2610, 2611], 'detonate': [2621, 2628, 2632, 2634, 2638, 2641], 'detonation': [2651, 2652, 2653, 2654, 2657, 2659, 2662, 2663, 2665, 2666, 2667, 2669, 2670, 2674, 2675, 2677, 2681, 2682], 'devastated': [2696, 2702, 2704, 2711], 'devastation': [2725], 'disaster': [2753, 2759, 2761, 2771, 2774, 2782], 'displaced': [2807], 'drought': [2835, 2843], 'drown': [2856, 2859, 2862, 2866, 2867, 2868, 2869, 2870, 2872, 2873, 2877, 2881, 2883], 'drowned': [2888, 2889, 2897, 2898, 2911, 2912, 2920, 2922], 'drowning': [2926, 2928, 2935, 2947, 2953, 2954, 2956, 2957], 'dust%20storm': [2971, 2972, 2978], 'earthquake': [3000, 3024, 3025], 'electrocute': [3036, 3037, 3039, 3044, 3046, 3047, 3048, 3051, 3052, 3054, 3055, 3066], 'electrocuted': [3067, 3069, 3070, 3071, 3072, 3073, 3080, 3082, 3091, 3094, 3097, 3098, 3099], 'emergency': [3114, 3119, 3120, 3124, 3126, 3130, 3135], 'emergency%20plan': [3166], 'emergency%20services': [3173, 3180, 3185], 'engulfed': [3209, 3215, 3220, 3221, 3227, 3230, 3232, 3235], 'epicentre': [3243, 3251, 3252], 'evacuate': [3267, 3268, 3269, 3275, 3280, 3286, 3293], 'evacuated': [3321, 3327], 'evacuation': [3332, 3361], 'explode': [3367, 3368, 3371, 3375, 3379, 3383, 3387, 3390, 3395, 3397, 3398, 3399, 3400, 3403], 'exploded': [3409, 3414, 3417, 3418, 3420, 3421, 3427, 3429, 3430, 3433, 3435, 3436], 'explosion': [3452, 3453, 3458, 3460, 3461, 3464, 3468, 3469, 3473, 3474], 'eyewitness': [3476, 3478, 3482, 3489, 3497, 3498, 3500, 3502, 3504], 'famine': [3512, 3513, 3517, 3529, 3535, 3540, 3542, 3545], 'fatal': [3550, 3568, 3574, 3576], 'fatalities': [3588, 3591, 3600, 3604, 3608, 3619], ...}

In [344]:
key_group_1 = dict()
ele_group_1 = np.array([])
for i in keyword_groups:
    ele = keyword_groups[i].values
    key_group_1[i] = list(ele[0:int(len(ele)*per_to_remove/100)])
    ele_group_1 = np.append(ele_group_1,key_group_1[i])

In [345]:
ele_group_1

array([  10.,   12.,   13.,   14.,   44.,   49.,   51.,   79.,   81.,
         85.,   91.,   92.,   99.,  154.,  167.,  174.,  182.,  184.,
        188.,  191.,  200.,  213.,  214.,  215.,  219.,  230.,  231.,
        243.,  244.,  248.,  252.,  253.,  255.,  257.,  258.,  264.,
        276.,  277.,  279.,  281.,  287.,  296.,  315.,  316.,  317.,
        318.,  319.,  320.,  324.,  329.,  333.,  334.,  336.,  339.,
        398.,  402.,  407.,  433.,  446.,  466.,  489.,  493.,  497.,
        518.,  522.,  523.,  544.,  560.,  563.,  582.,  587.,  593.,
        596.,  598.,  610.,  611.,  612.,  615.,  619.,  620.,  621.,
        625.,  627.,  648.,  651.,  653.,  654.,  655.,  657.,  660.,
        663.,  664.,  666.,  681.,  683.,  685.,  686.,  689.,  695.,
        698.,  699.,  700.,  716.,  718.,  723.,  724.,  731.,  732.,
        733.,  752.,  760.,  764.,  768.,  781.,  782.,  789.,  791.,
        793.,  795.,  796.,  797.,  799.,  800.,  807.,  808.,  818.,
        819.,  821.,  822.,  824.,  827.,  828.,  829.,  830.,  834.,
        836.,  854.,  860.,  862.,  871.,  874.,  892.,  899.,  910.,
        911.,  912.,  923.,  925.,  931.,  932.,  937.,  939.,  942.,
        944.,  945.,  958.,  964.,  967.,  969.,  970.,  971.,  990.,
        997., 1000., 1001., 1002., 1006., 1008., 1009., 1010., 1011.,
       1013., 1014., 1016., 1029., 1047., 1048., 1063., 1067., 1074.,
       1075., 1077., 1078., 1081., 1155., 1164., 1169., 1181., 1235.,
       1239., 1247., 1251., 1254., 1255., 1256., 1266., 1270., 1274.,
       1276., 1277., 1280., 1283., 1287., 1305., 1310., 1311., 1317.,
       1343., 1352., 1355., 1405., 1414., 1415., 1416., 1417., 1419.,
       1433., 1435., 1437., 1438., 1447., 1448., 1450., 1469., 1476.,
       1496., 1503., 1510., 1530., 1532., 1537., 1541., 1545., 1548.,
       1580., 1603., 1613., 1618., 1634., 1635., 1637., 1640., 1643.,
       1647., 1669., 1671., 1687., 1692., 1747., 1748., 1749., 1752.,
       1753., 1762., 1765., 1769., 1771., 1783., 1794., 1805., 1817.,
       1821., 1824., 1829., 1835., 1836., 1839., 1841., 1843., 1851.,
       1852., 1855., 1856., 1859., 1862., 1882., 1884., 1885., 1889.,
       1894., 1895., 1897., 1924., 1940., 1941., 1952., 1958., 1960.,
       1962., 1980., 1992., 2005., 2016., 2028., 2031., 2032., 2035.,
       2039., 2044., 2058., 2061., 2067., 2068., 2070., 2071., 2075.,
       2077., 2078., 2095., 2104., 2173., 2177., 2187., 2188., 2192.,
       2194., 2196., 2197., 2198., 2213., 2215., 2217., 2218., 2220.,
       2225., 2227., 2228., 2243., 2244., 2245., 2246., 2284., 2285.,
       2288., 2301., 2305., 2306., 2314., 2316., 2318., 2320., 2339.,
       2382., 2390., 2451., 2453., 2458., 2465., 2467., 2470., 2484.,
       2490., 2502., 2520., 2522., 2527., 2529., 2531., 2534., 2535.,
       2549., 2552., 2553., 2554., 2555., 2583., 2587., 2592., 2594.,
       2599., 2600., 2603., 2621., 2628., 2632., 2634., 2651., 2652.,
       2653., 2654., 2657., 2659., 2662., 2663., 2665., 2666., 2667.,
       2669., 2670., 2696., 2702., 2704., 2753., 2759., 2761., 2771.,
       2835., 2856., 2859., 2862., 2866., 2867., 2868., 2869., 2870.,
       2872., 2888., 2889., 2897., 2898., 2911., 2912., 2926., 2928.,
       2935., 2947., 2953., 2954., 2971., 2972., 3000., 3024., 3036.,
       3037., 3039., 3044., 3046., 3047., 3048., 3051., 3052., 3067.,
       3069., 3070., 3071., 3072., 3073., 3080., 3082., 3091., 3114.,
       3119., 3120., 3124., 3126., 3173., 3180., 3209., 3215., 3220.,
       3221., 3227., 3230., 3243., 3251., 3267., 3268., 3269., 3275.,
       3280., 3321., 3332., 3367., 3368., 3371., 3375., 3379., 3383.,
       3387., 3390., 3395., 3397., 3409., 3414., 3417., 3418., 3420.,
       3421., 3427., 3429., 3430., 3452., 3453., 3458., 3460., 3461.,
       3464., 3468., 3476., 3478., 3482., 3489., 3497., 3498., 3512.,
       3513., 3517., 3529., 3535., 3540., 3550., 3568., 3574., 3588.,
       3591., 3600., 3604., 3635., 3644., 3645., 3652., 3668., 3671.,
       3672., 3675., 3681., 3685., 3687., 3707., 3709., 3710., 3712.,
       3714., 3717., 3718., 3723., 3755., 3761., 3766., 3773., 3778.,
       3783., 3790., 3811., 3815., 3817., 3828., 3836., 3859., 3862.,
       3864., 3886., 3887., 3896., 3918., 3928., 3930., 3942., 3964.,
       3982., 4010., 4016., 4041., 4048., 4051., 4080., 4109., 4110.,
       4114., 4119., 4121., 4126., 4127., 4136., 4148., 4150., 4156.,
       4159., 4160., 4163., 4164., 4166., 4169., 4186., 4187., 4191.,
       4218., 4223., 4239., 4252., 4253., 4254., 4260., 4262., 4263.,
       4265., 4266., 4272., 4273., 4295., 4296., 4306., 4308., 4337.,
       4338., 4341., 4352., 4374., 4375., 4392., 4398., 4400., 4401.,
       4409., 4427., 4432., 4433., 4435., 4458., 4462., 4464., 4465.,
       4470., 4471., 4504., 4506., 4507., 4539., 4544., 4549., 4564.,
       4567., 4572., 4576., 4579., 4586., 4614., 4617., 4623., 4638.,
       4639., 4645., 4650., 4663., 4669., 4673., 4674., 4675., 4684.,
       4687., 4688., 4689., 4691., 4694., 4724., 4731., 4749., 4750.,
       4756., 4757., 4774., 4790., 4822., 4859., 4860., 4870., 4882.,
       4884., 4890., 4891., 4914., 4916., 4919., 4920., 4921., 4922.,
       4923., 4929., 4945., 4947., 4949., 4952., 4955., 4960., 4961.,
       4963., 4990., 4998., 5001., 5005., 5008., 5009., 5024., 5039.,
       5084., 5085., 5086., 5090., 5095., 5102., 5127., 5135., 5139.,
       5140., 5142., 5154., 5155., 5161., 5164., 5184., 5196., 5197.,
       5200., 5203., 5289., 5298., 5299., 5304., 5305., 5307., 5315.,
       5317., 5328., 5329., 5330., 5331., 5338., 5340., 5351., 5354.,
       5367., 5373., 5375., 5377., 5384., 5386., 5389., 5399., 5403.,
       5404., 5407., 5437., 5441., 5443., 5445., 5452., 5454., 5455.,
       5467., 5468., 5477., 5480., 5485., 5486., 5519., 5527., 5601.,
       5625., 5626., 5630., 5653., 5654., 5668., 5682., 5713., 5714.,
       5721., 5722., 5723., 5724., 5725., 5751., 5763., 5781., 5783.,
       5784., 5785., 5809., 5815., 5816., 5819., 5822., 5828., 5861.,
       5881., 5883., 5884., 5885., 5889., 5893., 5894., 5896., 5902.,
       5915., 5916., 5920., 5921., 5925., 5928., 5954., 5959., 5961.,
       5963., 5968., 5970., 5971., 5991., 5996., 5998., 6000., 6029.,
       6056., 6058., 6062., 6063., 6065., 6066., 6067., 6070., 6071.,
       6072., 6073., 6075., 6096., 6101., 6102., 6113., 6116., 6120.,
       6122., 6125., 6143., 6153., 6160., 6164., 6165., 6169., 6170.,
       6171., 6173., 6174., 6175., 6177., 6179., 6180., 6182., 6227.,
       6228., 6232., 6237., 6263., 6264., 6274., 6275., 6277., 6278.,
       6280., 6303., 6316., 6430., 6435., 6436., 6438., 6449., 6451.,
       6453., 6470., 6471., 6474., 6478., 6479., 6486., 6493., 6502.,
       6510., 6512., 6513., 6519., 6534., 6543., 6563., 6571., 6577.,
       6591., 6603., 6642., 6645., 6651., 6653., 6656., 6658., 6663.,
       6664., 6666., 6679., 6685., 6715., 6716., 6720., 6730., 6731.,
       6733., 6735., 6747., 6750., 6789., 6790., 6791., 6796., 6799.,
       6801., 6819., 6828., 6834., 6847., 6856., 6857., 6861., 6862.,
       6865., 6867., 6869., 6872., 6881., 6886., 6896., 6900., 6901.,
       6902., 6912., 6917., 6920., 6924., 6925., 6928., 6939., 6948.,
       6952., 6955., 6956., 6959., 6960., 6961., 6963., 6964., 6968.,
       6970., 6971., 7027., 7028., 7039., 7041., 7043., 7070., 7099.,
       7103., 7118., 7124., 7130., 7132., 7140., 7150., 7151., 7157.,
       7165., 7167., 7170., 7195., 7198., 7205., 7210., 7212., 7228.,
       7246., 7331., 7336., 7345., 7351., 7353., 7381., 7384., 7385.,
       7408., 7412., 7417., 7439., 7441., 7449., 7455., 7456., 7515.,
       7518., 7519., 7520., 7522., 7523., 7526., 7529., 7531., 7532.,
       7533., 7534.])

In [346]:
df_target_location_index = np.setdiff1d(df_train_1.index.values,ele_group_1)

In [356]:
df_train_2 = df_train_1.loc[df_target_location_index,]
df_train_2 = df_train_2.reset_index(drop=True)
df_train_2

,id,keyword,location,text,target
0,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
1,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
2,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
3,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
4,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
...,...,...,...,...,...
6555,10830,wrecked,NaN,@jt_ruff23 @cameronhacker and I wrecked you both,0
6556,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0
6557,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0
6558,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0
6559,10834,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0

In [357]:
df_train_2["target"].value_counts()*100/len(df_train_2)

target
0    50.777439
1    49.222561
Name: count, dtype: float64

In [358]:
df_train_2

,id,keyword,location,text,target
0,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
1,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
2,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
3,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
4,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
...,...,...,...,...,...
6555,10830,wrecked,NaN,@jt_ruff23 @cameronhacker and I wrecked you both,0
6556,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0
6557,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0
6558,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0
6559,10834,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0

In [360]:
df_train_3 = df_train_2.drop("id",axis=1,inplace=False)
df_train_3

,keyword,location,text,target
0,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
1,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
2,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
3,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
4,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
...,...,...,...,...
6555,wrecked,NaN,@jt_ruff23 @cameronhacker and I wrecked you both,0
6556,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0
6557,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0
6558,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0
6559,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0

In [361]:
df_train_4 = df_train_3.fillna("Not Specified")
df_train_4

,keyword,location,text,target
0,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
1,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
2,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
3,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
4,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
...,...,...,...,...
6555,wrecked,Not Specified,@jt_ruff23 @cameronhacker and I wrecked you both,0
6556,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0
6557,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0
6558,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0
6559,wrecked,Not Specified,Cramer: Iger's 3 words that wrecked Disney's s...,0

In [362]:
df_train_4.isna().sum()

keyword     0
location    0
text        0
target      0
dtype: int64

In [363]:
df_train_4["text"]

0       @bbcmtd Wholesale Markets ablaze http://t.co/l...
1       We always try to bring the heavy. #metal #RT h...
2       #AFRICANBAZE: Breaking news:Nigeria flag set a...
3                      Crying out for more! Set me ablaze
4       On plus side LOOK AT THE SKY LAST NIGHT IT WAS...
                              ...
6555     @jt_ruff23 @cameronhacker and I wrecked you both
6556    Three days off from work and they've pretty mu...
6557    #FX #forex #trading Cramer: Iger's 3 words tha...
6558    @engineshed Great atmosphere at the British Li...
6559    Cramer: Iger's 3 words that wrecked Disney's s...
Name: text, Length: 6560, dtype: object

In [380]:
df_train_4.loc[0,"text"]

'@bbcmtd Wholesale Markets ablaze http://t.co/lHYXEOHY6C'

In [381]:
nltk.regexp_tokenize(df_train_4.loc[0,"text"],r"(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'\".,<>?¬´¬ª‚Äú‚Äù‚Äò‚Äô]))")

[('http://t.co/lHYXEOHY6C', '', '', '', '')]

In [375]:
wl = nltk.stem.WordNetLemmatizer()
wl.lemmatize("co")

'co'

In [378]:
nltk.corpus.wordnet.lemmas("t")

[Lemma('thymine.n.01.T'),
 Lemma('deoxythymidine_monophosphate.n.01.T'),
 Lemma('metric_ton.n.01.t'),
 Lemma('t.n.04.T'),
 Lemma('t.n.04.t'),
 Lemma('triiodothyronine.n.01.T'),
 Lemma('thyroxine.n.01.T')]