In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [58]:
df = pd.read_csv("Australian Vehicle Prices.csv")

In [59]:
df

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16729,Toyota,2014.0,Alphard,SYC Cars,2014 Toyota Alphard,USED,Automatic,-,Front,Unleaded,-,66000,Grey / -,"Rocklea, QLD",-,Commercial,7 Seats,NaN,29500
16730,Mercedes-Benz,2012.0,S-Class,USED Dealer ad,2012 Mercedes-Benz S-Class CDI BlueTEC,USED,Automatic,-,Rear,Diesel,-,117432,Silver / -,"Port Melbourne, VIC",-,NaN,NaN,NaN,39888
16731,Suzuki,2022.0,Vitara,Bremer Suzuki - New,2022 Suzuki Vitara 1.6L,DEMO,Automatic,"4 cyl, 1.6 L",Front,Unleaded,6.2 L / 100 km,5165,Yellow / -,"Dinmore, QLD",4 cyl,SUV,4 Doors,5 Seats,35280
16732,Mercedes-Benz,2016.0,GLC250,SUV,2016 Mercedes-Benz GLC250,USED,Automatic,"4 cyl, 2 L",AWD,Premium,7.2 L / 100 km,85525,Grey / Black,"Albion, QLD",4 cyl,SUV,4 Doors,5 Seats,41888
16733,Mercedes-Benz,2021.0,C200,Sedan,2021 Mercedes-Benz C200,USED,Automatic,"4 cyl, 2 L",Rear,Unleaded,7 L / 100 km,31852,Gold / -,"Yatala, QLD",4 cyl,Sedan,4 Doors,5 Seats,65888

Brand, Year, Model, Title, UsedOrNew, Transmission, Engine, DriveType, FuelConsumption, Kilometres, CylindersinEngine -> Row is same -> Remove null values

In [60]:
null_index = df[df["Brand"].isna()].index[0]
null_index

2391

In [61]:
df_1 = df.drop(index=null_index)
df_1

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16729,Toyota,2014.0,Alphard,SYC Cars,2014 Toyota Alphard,USED,Automatic,-,Front,Unleaded,-,66000,Grey / -,"Rocklea, QLD",-,Commercial,7 Seats,NaN,29500
16730,Mercedes-Benz,2012.0,S-Class,USED Dealer ad,2012 Mercedes-Benz S-Class CDI BlueTEC,USED,Automatic,-,Rear,Diesel,-,117432,Silver / -,"Port Melbourne, VIC",-,NaN,NaN,NaN,39888
16731,Suzuki,2022.0,Vitara,Bremer Suzuki - New,2022 Suzuki Vitara 1.6L,DEMO,Automatic,"4 cyl, 1.6 L",Front,Unleaded,6.2 L / 100 km,5165,Yellow / -,"Dinmore, QLD",4 cyl,SUV,4 Doors,5 Seats,35280
16732,Mercedes-Benz,2016.0,GLC250,SUV,2016 Mercedes-Benz GLC250,USED,Automatic,"4 cyl, 2 L",AWD,Premium,7.2 L / 100 km,85525,Grey / Black,"Albion, QLD",4 cyl,SUV,4 Doors,5 Seats,41888
16733,Mercedes-Benz,2021.0,C200,Sedan,2021 Mercedes-Benz C200,USED,Automatic,"4 cyl, 2 L",Rear,Unleaded,7 L / 100 km,31852,Gold / -,"Yatala, QLD",4 cyl,Sedan,4 Doors,5 Seats,65888

In [62]:
df_2 = df_1.drop(columns=["Car/Suv","Title"])
df_2

,Brand,Year,Model,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16729,Toyota,2014.0,Alphard,USED,Automatic,-,Front,Unleaded,-,66000,Grey / -,"Rocklea, QLD",-,Commercial,7 Seats,NaN,29500
16730,Mercedes-Benz,2012.0,S-Class,USED,Automatic,-,Rear,Diesel,-,117432,Silver / -,"Port Melbourne, VIC",-,NaN,NaN,NaN,39888
16731,Suzuki,2022.0,Vitara,DEMO,Automatic,"4 cyl, 1.6 L",Front,Unleaded,6.2 L / 100 km,5165,Yellow / -,"Dinmore, QLD",4 cyl,SUV,4 Doors,5 Seats,35280
16732,Mercedes-Benz,2016.0,GLC250,USED,Automatic,"4 cyl, 2 L",AWD,Premium,7.2 L / 100 km,85525,Grey / Black,"Albion, QLD",4 cyl,SUV,4 Doors,5 Seats,41888
16733,Mercedes-Benz,2021.0,C200,USED,Automatic,"4 cyl, 2 L",Rear,Unleaded,7 L / 100 km,31852,Gold / -,"Yatala, QLD",4 cyl,Sedan,4 Doors,5 Seats,65888

In [63]:
for i in df_2.columns:
    df_2[i][df_2[i]=="-"] = np.nan

In [64]:
def retrieve_only_litres(x):
    x = str(x)
    if "cyl" in x and "L" in x:
        p = x.split(",")
        s = p[1].replace("L","").strip()
    elif "cyl" in x:
        s = np.nan
    elif "L" in x:
        s = x.replace("L","").strip()
    else:
        s = np.nan
    return s

In [80]:
def convert_to_km_l(x):
    x = str(x)
    p = x.split("/")
    litres = float(p[0].replace("L","").strip())
    km = float(p[1].replace("km","").strip())
    if litres == 0:
        return "delete"
    else:
        return round(km/litres,1)

In [85]:
df_3 = df_2.copy()

df_3["Engine"] = list(map(lambda x: retrieve_only_litres(x),df_2["Engine"]))
df_3["Engine"] = df_3["Engine"].astype("float64")

df_3["FuelConsumption"][df_3["FuelConsumption"].notna()] = list(map(lambda x: convert_to_km_l(x),df_2["FuelConsumption"][df_2["FuelConsumption"].notna()]))

fuel_cons_index = df_3[df_3["FuelConsumption"]=="delete"].index.values

df_3 = df_3.drop(index=fuel_cons_index)

In [89]:
df_4 = df_3.drop(columns="ColourExtInt")
df_4["Location"].unique()

array(['Caringbah, NSW', 'Brookvale, NSW', 'Sylvania, NSW',
       'Mount Druitt, NSW', 'Castle Hill, NSW', 'Saint Marys, NSW',
       'Blacktown, NSW', 'Wentworthville, NSW', 'Mcgraths Hill, NSW',
       'Lidcombe, NSW', 'Rouse Hill, NSW', 'Five Dock, NSW',
       'Haberfield, NSW', 'Cabramatta, NSW', 'Glebe, NSW', 'Camden, NSW',
       'Lansvale, NSW', 'Croydon, NSW', 'Pendle Hill, NSW',
       'Smithfield, NSW', 'Ingleburn, NSW', 'Seven Hills, NSW',
       'Granville, NSW', 'Minchinbury, NSW', 'Ryde, NSW', 'Homebush, NSW',
       'Elderslie, NSW', 'Campbelltown, NSW', 'Bankstown, NSW',
       'North Narrabeen, NSW', 'Chester Hill, NSW', 'Liverpool, NSW',
       'West Ryde, NSW', 'Kirrawee, NSW', 'Smeaton Grange, NSW',
       'Minto, NSW', 'Windsor, NSW', 'Penrith, NSW', 'Kogarah, NSW',
       'South Windsor, NSW', 'Artarmon, NSW', 'Arncliffe, NSW',
       'Darlinghurst, NSW', 'Eastern Creek, NSW', 'Rydalmere, NSW',
       'Carlton, NSW', 'Leichhardt, NSW', 'Punchbowl, NSW',
       'Strathfield, NSW', 'Wollongong, NSW', 'Banksia, NSW',
       'Adamstown, NSW', 'Cardiff, NSW', 'Pennant Hills, NSW',
       'East Maitland, NSW', 'Rozelle, NSW', 'Petersham, NSW',
       'Jamisontown, NSW', 'Gateshead, NSW', 'Kurri Kurri, NSW',
       'Richmond, NSW', 'Milperra, NSW', 'Rushcutters Bay, NSW',
       'Waitara, NSW', 'Singleton, NSW', 'Warwick Farm, NSW',
       'Chipping Norton, NSW', 'Taylors Beach, NSW', 'Taree, NSW',
       'Port Macquarie, NSW', 'Belmore, NSW', 'Roselands, NSW',
       'Greenacre, NSW', 'Concord, NSW', 'Moorebank, NSW', 'Berwick, VIC',
       'Regents Park, NSW', 'Yagoona, NSW', 'Upper Ferntree Gully, VIC',
       'Sutherland, NSW', 'Molendinar, QLD', 'Pakenham, VIC',
       'Auburn, NSW', 'Arundel, QLD', 'Southport, QLD', 'Narellan, NSW',
       'Lilydale, VIC', 'Epping, VIC', 'Fairfield East, NSW',
       'Tweed Heads South, NSW', 'Sydney, NSW', 'South Hurstville, NSW',
       'Revesby, NSW', 'Archerfield, QLD', 'Cheltenham, VIC',
       'Burwood, NSW', 'Springwood, QLD', 'Laverton North, VIC',
       'Bentleigh, VIC', 'Capalaba, QLD', 'Braeside, VIC',
       'Roseville, NSW', 'Slacks Creek, QLD', 'Waterloo, NSW',
       'Thornleigh, NSW', 'Coopers Plains, QLD', 'Zetland, NSW',
       'Alexandria, NSW', 'Mornington, VIC', 'Chatswood, NSW',
       'Underwood, QLD', 'Banyo, QLD', 'Bass Hill, NSW', 'Mascot, NSW',
       'Morayfield, QLD', 'Bells Creek, QLD', 'Enfield, SA', 'Goolwa, SA',
       'Strathalbyn, SA', 'Cheltenham, SA', 'Melrose Park, SA',
       'Morphett Vale, SA', 'Brighton, SA', 'Townsville, QLD',
       'Bassendean, WA', 'Bentley, WA', 'Welshpool, WA',
       'Osborne Park, WA', 'Dudley Park, WA', 'Cannington, WA',
       'Bibra Lake, WA', 'Mosman, NSW', 'Mandurah, WA', 'Leumeah, NSW',
       'Rockingham, WA', 'Nedlands, WA', 'Myaree, WA', 'Bunbury, WA',
       'Ashfield, NSW', 'Monterey, NSW', 'Balcatta, WA',
       'Homebush West, NSW', 'Carss Park, NSW', 'Stanmore, NSW',
       'Padstow, NSW', 'Wangara, WA', 'Clarkson, WA', 'Campsie, NSW',
       'North Strathfield, NSW', 'McDougalls Hill, NSW', 'Labrador, QLD',
       'Fairfield, VIC', 'Truganina, VIC', 'Kellyville, NSW',
       'Camira, QLD', 'Lindfield, NSW', 'Merrylands, NSW',
       'Essendon, VIC', 'Silverwater, NSW', 'Chullora, NSW',
       'Mount Lawley, WA', 'West Gosford, NSW', 'North Wollongong, NSW',
       'Albion Park, NSW', 'Yallah, NSW', 'Lisarow, NSW',
       'Albion Park Rail, NSW', 'Erina, NSW', 'Tuggerah, NSW',
       'Moss Vale, NSW', 'Oak Flats, NSW', 'Lithgow, NSW',
       'Mittagong, NSW', 'Gosford, NSW', 'Windang, NSW',
       'Hamilton East, NSW', 'Bowral, NSW', 'Beresfield, NSW',
       'Maryville, NSW', 'Hamilton, NSW', 'South Nowra, NSW',
       'Sandgate, NSW', 'Nowra, NSW', 'Medlow Bath, NSW', 'Waratah, NSW',
       'Warners Bay, NSW', 'New Lambton, NSW', 'Dapto, NSW',
       'Boolaroo, NSW', 'Lambton, NSW', 'Wickham, NSW', 'Maitland, NSW',
       'Mayfield West, NSW', 'Rutherford, NSW', 'Hamilton North, NSW',
       'Mayfield, NSW', 'Glendale, NSW', 'Edgeworth, NSW',
       'Cessnock, NSW', 'Broadmeadow, NSW', 'Kelso, NSW',
       'Heatherbrae, NSW', 'Bathurst, NSW', 'Bennetts Green, NSW',
       'Islington, NSW', 'Raymond Terrace, NSW', 'Taren Point, NSW',
       'Belmont, NSW', 'Orange, NSW', 'Newcastle West, NSW',
       'Goulburn, NSW', 'Muswellbrook, NSW', 'Ulladulla, NSW',
       'Belconnen, ACT', 'Yass, NSW', 'Fyshwick, ACT', 'Phillip, ACT',
       'Crookwell, NSW', 'Hume, ACT', 'Branxton, NSW', 'Gungahlin, ACT',
       'Tuncurry, NSW', 'Batemans Bay, NSW', 'Moruya, NSW',
       'Condell Park, NSW', 'Greenway, ACT', 'Harrington, NSW',
       'Wauchope, NSW', 'South Tamworth, NSW', 'Bega, NSW',
       'Armidale, NSW', 'Macksville, NSW', 'Lavington, NSW',
       'Coffs Harbour, NSW', 'Holbrook, NSW', 'Walla Walla, NSW',
       'Wodonga, VIC', 'Forbes, NSW', 'Wangaratta, VIC',
       'Bairnsdale, VIC', 'Lismore, NSW', 'Stanthorpe, QLD',
       'Shepparton, VIC', 'Walcha, NSW', 'Traralgon, VIC', 'Seymour, VIC',
       'West Ballina, NSW', 'Echuca, VIC', 'Kyabram, VIC',
       'Dandenong South, VIC', 'Dandenong, VIC', 'Bayswater, VIC',
       'Vermont, VIC', 'Tugun, QLD', 'Ashmore, QLD', 'Thomastown, VIC',
       'Burwood, VIC', 'Narre Warren, VIC', 'Alphington, VIC',
       'Mulgrave, VIC', 'HEIDELBERG, VIC', 'Sale, VIC', 'Preston, VIC',
       'Ringwood, VIC', 'Springvale, VIC', 'Ferntree Gully, VIC',
       'Nunawading, VIC', 'Epsom, VIC', 'Briar Hill, VIC',
       'Coburg North, VIC', 'Boronia, VIC', 'Bundoora, VIC',
       'Fawkner, VIC', 'Thornbury, VIC', 'Burleigh Heads, QLD',
       'Nerang, QLD', 'Robina, QLD', 'South Morang, VIC',
       'SOUTH MORANG, VIC', 'Helensvale, QLD', 'Loftville, NSW',
       'Hallam, VIC', 'Officer, VIC', 'CAMBERWELL, VIC',
       'BAYSWATER NORTH, VIC', 'Watsonia, VIC', 'EPPING, VIC',
       'Balwyn, VIC', 'Warragul, VIC', 'South Grafton, NSW',
       'Currumbin Waters, QLD', 'Morwell, VIC', 'Bendigo, VIC',
       'Mitcham, VIC', 'Tweed Heads, NSW', 'Biggera Waters, QLD',
       'Doncaster, VIC', 'FAWKNER, VIC', 'Golden Square, VIC',
       'Mill Park, VIC', 'Wantirna, VIC', 'Campbellfield, VIC',
       'Coburg, VIC', 'DONCASTER, VIC', 'Seaford, VIC', 'Moorabbin, VIC',
       'Mordialloc, VIC', 'Braybrook, VIC', 'Carrum Downs, VIC',
       'Dingley Village, VIC', 'Coorparoo, QLD', 'Avondale Heights, VIC',
       'Rocklea, QLD', 'Frankston, VIC', 'Kedron, QLD', 'Albion, QLD',
       'Port Melbourne, VIC', 'Mount Gravatt, QLD', 'West Footscray, VIC',
       'Pinkenba, QLD', 'Moorooka, QLD', 'Hillcrest, QLD',
       'Deer Park, VIC', 'SOUTH MELBOURNE, VIC', 'Murrumbeena, VIC',
       'Maidstone, VIC', 'Brooklyn, VIC', 'Ravenhall, VIC',
       'Oakleigh, VIC', 'Morningside, QLD', 'Hoppers Crossing, VIC',
       'Everton Hills, QLD', 'Greenslopes, QLD', 'Ipswich, QLD',
       'Clayton South, VIC', 'Hamilton, QLD', 'Elsternwick, VIC',
       'Eagle Farm, QLD', 'Point Cook, VIC', 'Toowoomba, QLD',
       'Williamstown, VIC', 'Hendra, QLD', 'Chermside, QLD',
       'Werribee, VIC', 'South Melbourne, VIC', 'Cranbourne, VIC',
       'Mansfield, QLD', 'Altona North, VIC', 'Toowoomba City, QLD',
       'Sumner, QLD', 'Acacia Ridge, QLD', 'South Toowoomba, QLD',
       'Croydon, VIC', 'Swan Hill, VIC', 'Coomera, QLD', 'Tingalpa, QLD',
       'Nundah, QLD', 'Woodridge, QLD', 'Essendon Fields, VIC',
       'Brighton, VIC', 'Mentone, VIC', 'Cleveland, QLD',
       'Browns Plains, QLD', 'Carbrook, QLD', 'Yatala, QLD',
       'Virginia, QLD', 'Woongoolba, QLD', 'Loganholme, QLD',
       'Keysborough, VIC', 'Melbourne, VIC', 'Windsor, QLD',
       'Sunbury, VIC', 'North Ipswich, QLD', 'Sunnybank Hills, QLD',
       'Indooroopilly, QLD', 'Eight Mile Plains, QLD', 'Aspley, QLD',
       'Yamanto, QLD', 'Geebung, QLD', 'MELBOURNE, VIC', 'Lyndhurst, VIC',
       'Oakleigh South, VIC', 'Southbank, VIC', 'Kelvin Grove, QLD',
       'Parkdale, VIC', 'Blackburn, VIC', 'Tullamarine, VIC',
       'Gatton, QLD', 'Glenroy, VIC', 'St Albans, VIC',
       'Keilor East, VIC', 'Wacol, QLD', 'Melton, VIC', 'Reservoir, VIC',
       'Hastings, VIC', 'Bacchus Marsh, VIC', 'Fortitude Valley, QLD',
       'Williamstown North, VIC', 'Huntingdale, VIC',
       'Seventeen Mile Rocks, QLD', 'Yarraville, VIC',
       'Bentleigh East, VIC', 'Murarrie, QLD', 'Thornlands, QLD',
       'Holland Park West, QLD', 'Footscray, VIC', 'Wilston, QLD',
       'Caroline Springs, VIC', 'Derrimut, VIC', 'Dinmore, QLD',
       'Bundamba, QLD', 'Sunshine North, VIC', 'Clontarf, QLD',
       'Geelong, VIC', 'South Geelong, VIC', 'Strathpine, QLD',
       'Wendouree, VIC', 'Northgate, QLD', 'North Geelong, VIC',
       'Delacombe, VIC', 'North Lakes, QLD', 'Lawnton, QLD',
       'Brown Hill, VIC', 'Ballarat, VIC', 'Tyabb, VIC', 'Newtown, VIC',
       'Geelong West, VIC', 'Sebastopol, VIC', 'Redcliffe, QLD',
       'Belmont, VIC', 'Mount Pleasant, VIC', 'Maroochydore, QLD',
       'Mooloolaba, QLD', 'Currimundi, QLD', 'Baringa, QLD',
       'Caloundra West, QLD', 'Buderim, QLD', 'Chermside South, QLD',
       'Rosemount, QLD', 'Kunda Park, QLD', 'Noosaville, QLD',
       'Ararat, VIC', 'Colac West, VIC', 'Nambour, QLD', 'Horsham, VIC',
       'Gympie, QLD', 'Caboolture, QLD', 'Brendale, QLD', 'Ningi, QLD',
       'Alexandra Headland, QLD', 'Stafford, QLD', 'Sippy Downs, QLD',
       'Launceston, TAS', 'Warrnambool, VIC', 'Camdale, TAS',
       'Devonport, TAS', 'South Burnie, TAS', 'LOXTON, SA', 'Pialba, QLD',
       'Bundaberg West, QLD', 'Kensington, QLD', 'Mount Gambier, SA',
       'Bundaberg, QLD', 'North Hobart, TAS', 'Biloela, QLD',
       'Hobart, TAS', 'Derwent Park, TAS', 'Glenorchy, TAS',
       'Murray Bridge, SA', 'Moonah, TAS', 'New Town, TAS',
       'Salisbury Park, SA', 'Blair Athol, SA', 'Gilles Plains, SA',
       'Hillcrest, SA', 'Newton, SA', 'Totness, SA', 'Salisbury, SA',
       'Gawler South, SA', 'Ingle Farm, SA', 'Clare, SA', 'Nuriootpa, SA',
       'Para Hills West, SA', 'Gladstone, QLD', 'Klemzig, SA',
       'Windsor Gardens, SA', 'Elizabeth, SA', 'Hawthorn, SA',
       'Gepps Cross, SA', 'Hampstead Gardens, SA', 'Nailsworth, SA',
       'Valley View, SA', 'Prospect, SA', 'Fullarton, SA', 'Medindie, SA',
       'Pooraka, SA', 'West Gladstone, QLD', 'Gulfview Heights, SA',
       'Mount Barker, SA', 'Wayville, SA', 'Mile End, SA',
       'Brisbane, QLD', 'Saint Marys, SA', 'Mile End South, SA',
       'Thebarton, SA', 'West Croydon, SA', 'Somerton Park, SA',
       'Adelaide, SA', 'Edwardstown, SA', 'Christies Beach, SA',
       'Emerald, QLD', 'Glenelg, SA', 'Darlington, SA', 'Hindmarsh, SA',
       'North Rockhampton, QLD', 'Chinchilla, QLD', 'Albert Park, SA',
       'Reynella, SA', 'Beverley, SA', 'Plympton, SA',
       'Victor Harbor, SA', 'Lonsdale, SA', 'Torrensville, SA',
       'Rosewater, SA', 'Coolum Beach, QLD', 'Woodville, SA',
       'Moffat Beach, QLD', 'Port Augusta, SA', 'Mackay, QLD',
       'West End, QLD', 'Garbutt, QLD', 'Mount Louisa, QLD',
       'Youngtown, TAS', 'Hermit Park, QLD', 'Corio, VIC', 'Loxton, SA',
       'Westcourt, QLD', 'Cairns City, QLD', 'Bungalow, QLD',
       'Parramatta Park, QLD', 'Cairns, QLD', 'Earlville, QLD',
       'Mildura, VIC', 'Pinelands, NT', 'Berrimah, NT', 'Winnellie, NT',
       'Stuart Park, NT', 'Darwin, NT', 'Collie, WA', 'Beaconsfield, WA',
       'Kelmscott, WA', 'Victoria Park, WA', 'Bellevue, WA',
       'Hamilton Hill, WA', 'Palmyra, WA', 'Dianella, WA',
       'Saint James, WA', 'Morley, WA', 'Como, WA', 'Maddington, WA',
       'Invermay, TAS', 'Attadale, WA', 'Bridgewater, SA',
       'East Bunbury, WA', 'Bundaberg North, QLD', 'Harvey, WA',
       'Kenwick, WA', 'Seaford, SA', 'Norwood, SA', 'Bowden, SA',
       'Park Holme, SA', 'Allenstown, QLD', 'Medindie Gardens, SA',
       'West Lakes, SA', 'Hyde Park, SA', 'St Marys, SA', 'Goodwood, SA',
       'Parap, NT', 'West Perth, WA', 'Bayswater, WA', 'Maylands, WA',
       'Midland, WA', 'Burswood, WA', 'Gosnells, WA', 'South Bunbury, WA',
       'Hyde Park, QLD', 'Melville, WA', 'Wagin, WA', 'Canning Vale, WA',
       'Wongan Hills, WA', 'Jandakot, WA', 'East Victoria Park, WA',
       'Northbridge, WA', 'Perth, WA', 'Edgewater, WA', 'KINGSLEY, WA',
       'Craigie, WA', 'Busselton, WA', 'Geraldton, WA', 'Beresford, WA',
       nan, 'Wonthella, WA', 'Webberton, WA', 'Kings Park, NSW',
       'Clyde, NSW', 'Ermington, NSW', 'Greystanes, NSW',
       'Peakhurst, NSW', 'Wellington, NSW', 'West Tamworth, NSW',
       'Wagga Wagga, NSW', 'Inverell, NSW', 'Casino, NSW',
       'Roxburgh Park, VIC', 'Beaudesert, QLD', 'East Toowoomba, QLD'],
      dtype=object)