In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import *

In [4]:
rice_countries = pd.read_csv("rice_ countries.csv")
world_food_production = pd.read_csv("world_food_production.csv")

In [6]:
world_food_production

    year  rice_production  wheat_production  vegetable_production
0   1996            568.7             578.6                 542.7
1   1997            577.1             596.2                 551.8
2   1998            578.8             584.8                 572.8
3   1999            611.2             585.0                 615.2
4   2000            598.7             588.2                 686.6
5   2001            600.2             592.0                 705.3
6   2002            571.1             550.1                 727.3
7   2003            586.9             634.9                 758.2
8   2004            607.3             626.9                 768.5
9   2005            634.2             614.5                 789.7
10  2006            640.7             606.7                 820.3
11  2007            654.0             606.7                 855.7
12  2008            684.4             681.0                 889.5
13  2009            680.3             684.2                 916.0
14  2010            694.5             640.3                 938.8
15  2011            719.5             697.7                 974.8
16  2012            727.7             672.7                 999.8
17  2013            731.8             711.0                1021.6
18  2014            730.8             733.5                1056.0
19  2015            732.0             737.0                1084.2
20  2016            734.1             749.5                1087.8
21  2017            747.4             771.7                1109.3
22  2018            759.1             734.0                1111.0
23  2019            749.2             765.8                1129.7
24  2020            756.7             760.9                1148.4
25  2021            787.3             770.9                1157.3

In [13]:
X = np.reshape(world_food_production["year"].values,(-1,1))
X_test = np.array([2022,2023,2024,2025,2026,2027,2028,2029,2030])
world_food_production_predicted = pd.DataFrame(columns=world_food_production.columns)
world_food_production_predicted["year"] = X_test
for i in world_food_production.columns.values[1:]:
    y = np.reshape(world_food_production[i].values,(-1,1))
    linear_regr = LinearRegression()
    linear_regr.fit(X,y)
    y_pred = linear_regr.predict(X_test.reshape(-1,1))
    world_food_production_predicted[i] = y_pred.round(1)

In [32]:
cols = ["year"] + rice_countries["Country"].values.tolist()
rows = rice_countries.columns.values[1:]
rice_countries_transposed = pd.DataFrame(columns=cols)
rice_countries_transposed["year"] = rows
rice_countries_transposed[rice_countries["Country"].values.tolist()] = rice_countries[rows].values.T

In [36]:
X = rice_countries_transposed["year"].values.reshape(-1,1)
X_test = np.array([2022,2023,2024,2025,2026,2027,2028,2029,2030])
rice_countries_predicted = pd.DataFrame(columns=rice_countries_transposed.columns)
rice_countries_predicted["year"] = X_test
for i in rice_countries["Country"].values.tolist():
    y = np.reshape(rice_countries_transposed[i].values,(-1,1))
    linear_regr = LinearRegression()
    linear_regr.fit(X,y)
    y_pred = linear_regr.predict(X_test.reshape(-1,1))
    rice_countries_predicted[i] = y_pred.round(1)

In [41]:
df_1 = pd.DataFrame(columns=["year","rice_production"])
df_1["rice_production"] = rice_countries_predicted[rice_countries["Country"].values.tolist()].sum(axis=1)
df_1["year"] = X_test
df_1

   year  rice_production
0  2022            685.9
1  2023            692.7
2  2024            699.3
3  2025            706.2
4  2026            713.0
5  2027            719.6
6  2028            726.0
7  2029            732.8
8  2030            739.5

In [42]:
df_2 = world_food_production_predicted[["year","rice_production"]]
df_2

   year  rice_production
0  2022            793.9
1  2023            803.0
2  2024            812.0
3  2025            821.1
4  2026            830.1
5  2027            839.2
6  2028            848.2
7  2029            857.3
8  2030            866.3

In [43]:
df_3 = df_2.copy()
df_3["rice_production"] = (df_1["rice_production"] - df_2["rice_production"]).abs()

   year  rice_production
0  2022            108.0
1  2023            110.3
2  2024            112.7
3  2025            114.9
4  2026            117.1
5  2027            119.6
6  2028            122.2
7  2029            124.5
8  2030            126.8

In [45]:
np.sqrt((df_3["rice_production"] * df_3["rice_production"]).sum() / len(df_3)).round(1)

117.5