In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import *

In [4]:
rice_countries = pd.read_csv("rice_ countries.csv")
world_food_production = pd.read_csv("world_food_production.csv")

In [5]:
world_food_production

    year  rice_production  wheat_production  vegetable_production
0   1996            568.7             578.6                 542.7
1   1997            577.1             596.2                 551.8
2   1998            578.8             584.8                 572.8
3   1999            611.2             585.0                 615.2
4   2000            598.7             588.2                 686.6
5   2001            600.2             592.0                 705.3
6   2002            571.1             550.1                 727.3
7   2003            586.9             634.9                 758.2
8   2004            607.3             626.9                 768.5
9   2005            634.2             614.5                 789.7
10  2006            640.7             606.7                 820.3
11  2007            654.0             606.7                 855.7
12  2008            684.4             681.0                 889.5
13  2009            680.3             684.2                 916.0
14  2010            694.5             640.3                 938.8
15  2011            719.5             697.7                 974.8
16  2012            727.7             672.7                 999.8
17  2013            731.8             711.0                1021.6
18  2014            730.8             733.5                1056.0
19  2015            732.0             737.0                1084.2
20  2016            734.1             749.5                1087.8
21  2017            747.4             771.7                1109.3
22  2018            759.1             734.0                1111.0
23  2019            749.2             765.8                1129.7
24  2020            756.7             760.9                1148.4
25  2021            787.3             770.9                1157.3

In [8]:
rice_production = world_food_production[["year","rice_production"]]
wheat_production = world_food_production[["year","wheat_production"]]
vegetable_production = world_food_production[["year","vegetable_production"]]

In [12]:
rice_countries

          Country   2020   2010   2000   1990
0           China  211.9  195.8  187.9  189.3
1           India  178.3  144.0  127.5  111.2
2      Bangladesh   54.9   50.1   37.6   26.8
3       Indonesia   54.6   59.3   51.9   45.2
4         Vietnam   42.8   40.0   32.5   19.2
5        Thailand   30.2   35.7   25.8   17.2
6         Myanmar   25.1   32.1   21.0   14.0
7     Philippines   19.3   15.8   12.4    9.9
8          Brazil   11.1   11.2   11.1    7.4
9   United States   10.3   11.0    8.7    7.1
10          Japan    9.7   10.7   11.9   13.1
11       Pakistan    8.4    7.2    7.2    4.9
12        Nigeria    8.2    4.5    3.3    2.5

In [101]:
rice_countries_array = rice_countries.drop(columns=["Country"]).values.T
rice_countries_df = pd.DataFrame(rice_countries_array, columns=rice_countries["Country"].values)
rice_countries_df = rice_countries_df.set_index(rice_countries.columns.values[1:]).reset_index()
rice_countries_df = rice_countries_df.rename(columns={"index": "year"})

In [102]:
rice_countries_df

,year,China,India,Bangladesh,Indonesia,Vietnam,Thailand,Myanmar,Philippines,Brazil,United States,Japan,Pakistan,Nigeria
0,2020,211.9,178.3,54.9,54.6,42.8,30.2,25.1,19.3,11.1,10.3,9.7,8.4,8.2
1,2010,195.8,144.0,50.1,59.3,40.0,35.7,32.1,15.8,11.2,11.0,10.7,7.2,4.5
2,2000,187.9,127.5,37.6,51.9,32.5,25.8,21.0,12.4,11.1,8.7,11.9,7.2,3.3
3,1990,189.3,111.2,26.8,45.2,19.2,17.2,14.0,9.9,7.4,7.1,13.1,4.9,2.5

In [89]:
X_rice_production = rice_production["year"].values
y_rice_production = rice_production["rice_production"].values

X_wheat_production = wheat_production["year"].values
y_wheat_production = wheat_production["wheat_production"].values

X_vegetable_production = vegetable_production["year"].values
y_vegetable_production = vegetable_production["vegetable_production"].values

In [95]:
test_values = np.array([2022,2023,2024,2025,2026,2027,2028,2029,2030])

In [96]:
linear_reg_rice_production = LinearRegression()
linear_reg_rice_production.fit(np.reshape(X_rice_production,(-1,1)),np.reshape(y_rice_production,(-1,1)))
y_pred_rice_production = linear_reg_rice_production.predict(test_values.reshape(-1,1)).round(1)

linear_reg_wheat_production = LinearRegression()
linear_reg_wheat_production.fit(np.reshape(X_wheat_production,(-1,1)),np.reshape(y_wheat_production,(-1,1)))
y_pred_wheat_production = linear_reg_wheat_production.predict(test_values.reshape(-1,1)).round(1)

linear_reg_vegetable_production = LinearRegression()
linear_reg_vegetable_production.fit(np.reshape(X_vegetable_production,(-1,1)),np.reshape(y_vegetable_production,(-1,1)))
y_pred_vegetable_production = linear_reg_vegetable_production.predict(test_values.reshape(-1,1)).round(1)

In [97]:
test_df = pd.DataFrame(columns=world_food_production.columns)
test_df["year"] = test_values
test_df["rice_production"] = y_pred_rice_production
test_df["wheat_production"] = y_pred_wheat_production
test_df["vegetable_production"] = y_pred_vegetable_production

In [98]:
test_df

   year  rice_production  wheat_production  vegetable_production
0  2022            793.9             784.2                1235.3
1  2023            803.0             793.0                1261.3
2  2024            812.0             801.9                1287.2
3  2025            821.1             810.8                1313.1
4  2026            830.1             819.7                1339.0
5  2027            839.2             828.5                1365.0
6  2028            848.2             837.4                1390.9
7  2029            857.3             846.3                1416.8
8  2030            866.3             855.1                1442.8

In [108]:
rice_count_final = pd.DataFrame(columns=rice_countries_df.columns)
rice_count_final["year"] = test_values
for i in rice_countries["Country"].values:
    X = rice_countries_df["year"].values
    y = rice_countries_df[i].values
    linear_reg = LinearRegression()
    linear_reg.fit(np.reshape(X,(-1,1)),np.reshape(y,(-1,1)))
    y_pred = linear_reg.predict(test_values.reshape(-1,1)).round(1)
    rice_count_final[i] = y_pred

In [116]:
rice_produce = pd.DataFrame(columns=["year","rice_production"])
rice_produce["year"] = test_values
rice_produce["rice_production"] = rice_count_final.drop(columns=["year"]).sum(axis=1)
rice = test_df[["year","rice_production"]]

In [117]:
rice_produce

   year  rice_production
0  2022            685.9
1  2023            692.7
2  2024            699.3
3  2025            706.2
4  2026            713.0
5  2027            719.6
6  2028            726.0
7  2029            732.8
8  2030            739.5

In [125]:
final_rice = pd.DataFrame(columns=rice.columns)
final_rice["year"] = rice["year"].copy()
final_rice["rice_production"] = (rice["rice_production"] - rice_produce["rice_production"]).abs()

In [132]:
round(np.sqrt((final_rice["rice_production"] * final_rice["rice_production"]).sum()/len(final_rice["rice_production"])),2)

117.5